{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}


{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tasks-lable {
            margin-right: 20px;
        }

    </style>
{% endblock %}



{% block js %}
    <script>

        $(function () {
            <!--pass value to download needs-->

            $("#export_form").one("submit",function (e) {
                 var task_name = {{ task_names | safe }};
                var ini_content = '{{ render_str |escapejs }}';

                $(this).append('<input  id="task_list" type="hidden" name="task_list"/>');
                $("#task_list").val(task_name);


                $(this).append('<input  id="ini_content" type="hidden" name="ini_content"/>');
                $("#ini_content").val(ini_content);

                {% if chose_map %}
                    var chose_files = JSON.stringify( {{ chose_map |safe }});
                    $(this).append('<input  id="chose_files" type="hidden" name="chose_files" />');
                    $("#chose_files").val(chose_files);
                {% endif %}
            });
            });



        $(document).ready(function () {


            <!--pass value to chose needs-->
            $("#chose_form").one("submit",function (e) {

                var task_name = {{ task_names | safe }};
                var ini_content = '{{ render_str |escapejs }}';
                var conflict_files = {{ cf_tasks.keys|get_list|safe  }}

                $(this).append('<input  id="task_list" type="hidden" name="task_list"/>');
                $("#task_list").val(task_name);


                $(this).append('<input  id="ini_content" type="hidden" name="ini_content"/>');
                $("#ini_content").val(ini_content);


                $(this).append('<input  id="conflicted" type="hidden" name="conflicted" />');

                $(this).append('<input  id="conflict_files" type="hidden" name="conflict_files"/>');
                $("#conflict_files").val(conflict_files)

            });
        });


    </script>
{% endblock %}



{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static  "bower_components/highlightjs/styles/github-gist.css" %}">
    <script src="{% static "bower_components/highlightjs/highlight.pack.min.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}



{% block body %}
    <h3>TestScript.ini Content</h3>



    {% if err_message %}

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">You got an error!</h4>
            <hr>
            <p>{{ err_message }}</p>

        </div>


        <form id="chose_form" class="form-inline" role="form" method="POST">{% csrf_token %}
            {% for k,tasks in cf_tasks.items %}

                <div class="form-group">
                    <label class="tasks-lable">{{ k|escape }} </label>

                    <select class="form-control" name="{{ k |escape }}">
                        {% for task in tasks %}
                            <option value="{{ task }}">{{ task }}</option>
                        {% endfor %}
                    </select>

                </div>

            {% endfor %}
        </form>
    {% endif %}




    {% if err_message is None %}
        <pre>
        <code class="javascript">
            <div id="confirm_data">
                {{ render_str|linebreaks }}
            </div>
       </code>
    </pre>
    {% endif %}

    {% if disable_download %}
        <button id="confirm" type="submit" class="btn btn-primary btn-lg btn-block" form="chose_form"><i
                class="fas fa-check"></i> Confirm
        </button>
    {% else %}
        {#        <a href="{% url "export_task" %}" id="save" class="btn btn-primary btn-lg btn-block" role="button"><i class="fas fa-download"></i>Download</a>#}

        <form id="export_form" action="{% url "export_task" %}" method="post">{% csrf_token %}
            <button id="save" type="submit" class="btn btn-primary btn-lg btn-block"><i
                    class="fas fa-download"></i> Download
            </button>
        </form>
    {% endif %}

{% endblock %}