{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">


    <script src={% static "bower_components/datatables.net/js/dataTables.select.min.js" %}></script>

    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
{% endblock %}



{% block css %}
    <style>
        #conditiontd td {
            text-align: center;
        }

        {#hide the search colume#}
        .dataTables_filter, .dataTables_info {
            display: none;
        }

        .condition-lable {
            margin-right: 20px;
        }


    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(function () {

            $('#task-table tbody .dt-delete').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.parents('tr');

                    if (confirm("Are you sure to delete this row?")) {

                        taskID = dtRow.attr("id");

                        var csrftoken = getCookie('csrftoken');

                        $.ajax({
                            url: "/testCase/delete/" + taskID, // the endpoint,commonly same url
                            type: 'DELETE',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },

                            success: function (json) {
                                console.log(json); // another sanity check

                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });


                        var table = $('#task-table').DataTable();
                        table.row(dtRow).remove().draw(false);
                    }
                });


            });


            $('#task-table tbody .dt-edit').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    taskID = editRow.attr("id");

                    location.href = "/testCase/modify/" + taskID;
                });
            });


        });

        function filterColumn(i) {
            $('#task-table').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                true,
            ).draw();


        }


        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var $chkbox_all = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if ($chkbox_checked.length === 0) {
                chkbox_select_all.checked = false;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length) {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = true;
                }
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $(document).ready(function () {
            $("#pass_value").hide();

            //global array ,it save selected task id
            var rows_selected = [];


            $("#myForm").on("submit", function (e) {

                if (rows_selected.length <= 0) {
                    alert("You must select at least one test case.");
                    e.preventDefault();
                    return false;
                }
                $("#pass_value").val(rows_selected);
                {#e.preventDefault();#}

            });


            //data tables parameter
            var table = $('#task-table').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "autoWidth": true,
                "scrollX": true,
                columnDefs: [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        return '<input type="checkbox">';
                    }

                }],
                'rowCallback': function (row, data, dataIndex) {
                    // Get row ID
                    var taskID = data[1];

                    // If row ID is in the list of selected row IDs
                    if ($.inArray(taskID, rows_selected) !== -1) {
                        $(row).find('input[type="checkbox"]').prop('checked', true);
                        $(row).addClass('selected');
                    }
                },
                order: [[1, 'asc']],

            });


            //datable filter with regex
            $(".condition-select").change(function () {
                var r1 = $('#platform :selected').val();


                if (!r1) {
                    r1 = "."
                }

                var selected = [];

                var brands = $('#interface option:selected');
                $(brands).each(function (index, brand) {
                    selected.push([$(this).val()]);
                });


                if (selected.length === 0){
                    r2 = "."
                }else{
                    r2 = "[" + selected.join("|") +"]"
                }

                $('#task-table').DataTable().column(1).search("^" + r1 + "{1}" + r2 + "{1}", true,).draw();
            });

            //clean datable filter
            $("#clean").click(function () {

                $(".condition-select ").val('default');
                $(".condition-select ").selectpicker("refresh");


                $('#task-table').DataTable().column(1).search("", true,).draw();


            });

            // handle click on checkbox
            $('#task-table tbody').on('click', 'input[type="checkbox"]', function (e) {


                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Get task ID
                var taskID = data[1];


                // Determine whether row ID is in the list of selected row IDs
                var index = $.inArray(taskID, rows_selected);

                // If checkbox is checked and row ID is not in list of selected row IDs
                if (this.checked && index === -1) {
                    rows_selected.push(taskID);

                    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                } else if (!this.checked && index !== -1) {
                    rows_selected.splice(index, 1);
                }

                if (this.checked) {
                    $row.addClass('selected');
                } else {
                    $row.removeClass('selected');
                }

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // handle click on table cells with checkboxes
            $('#task-table').on('click', 'tbody td, thead th:first-child', function (e) {
                $(this).parent().find('input[type="checkbox"]').trigger('click');
            });

            // handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#task-table tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#task-table tbody input[type="checkbox"]:checked').trigger('click');
                }

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // handle table draw event
            table.on('draw', function () {
                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);
            });


        });
    </script>
{% endblock %}


{% block body %}
    <table id="condition" cellpadding="3" cellspacing="0" border="0" style="width: 100%; margin: 0 auto 2em auto;">

        <tr id="filter_col1" data-column="0">


            <td>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="platform" class="condition-lable">Platform:</label>
                        <select class="condition-select form-control selectpicker  show-tick" data-width="170px" id="platform"
                                title="Nothing selected" multiple data-selected-text-format="count">
                            <option value="0">Windows</option>
                            <option value="1">Mac</option>
                            <option value="2">All</option>
                        </select>
                    </div>
                </form>
            </td>


            <td>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="interface" class="condition-lable">Interface:</label>
                        <select class="condition-select form-control selectpicker" id="interface" data-width="170px" multiple>
                            <option value="0">USB</option>
                            <option value="1">Type-C</option>
                            <option value="2">TBT</option>
                            <option value="3">VGA</option>
                            <option value="4">HDMI</option>
                            <option value="5">ETH</option>
                            <option value="6">DP</option>
                            <option value="7">Audio</option>
                            <option value="8">IC</option>
                            <option value="9">PD</option>
                            <option value="A">INTERACTIVE</option>
                        </select>
                    </div>
                </form>
            </td>


            <td>
                <div class="text-right">

                    <button id="clean" type="button" class="btn btn-success"><i class="fas fa-redo"></i> Clean Filter
                    </button>

                    <button id="submit" type="submit" class="btn btn-primary" form="myForm">Next <i
                            class="fas fa-forward"></i>
                    </button>

                </div>
            </td>


        </tr>
    </table>






    <form id="myForm" class="form-signin" method="POST">{% csrf_token %}


        <table id="task-table" class="hover" style="width:100%">
            <thead>
            <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>TasK ID</th>
                <th>Task Case Name</th>
                <th>Description</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for data in  datas %}
                <tr id="{{ data.task_id }}">
                    <td></td>
                    <td>{{ data.task_id }}</td>
                    <td>{{ data.task_name }}</td>
                    <td>{{ data.description }}</td>
                    <td style="text-align: center;min-width:100px ">

                        <button type="button"
                                class="delete_btn btn btn-primary btn-xs  btn-md center-block dt-edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button"
                                class="edit_btn btn btn-danger btn-xs   btn-md center-block dt-delete"><i
                                class="fas fa-trash"></i>
                        </button>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>TasK ID</th>
                <th>Task Case Name</th>
                <th>Description</th>
                <th></th>

            </tr>
            </tfoot>
        </table>
        <input name="task_ids" id="pass_value">
    </form>
{% endblock %}