{% extends "base.html" %}

{% load staticfiles %}


{% block head %}
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">
    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">


    <script src={% static "bower_components/datatables.net/js/dataTables.select.min.js" %}></script>



{% endblock %}


{% block js %}
    <script>

        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var $chkbox_all = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if ($chkbox_checked.length === 0) {
                chkbox_select_all.checked = false;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length) {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = true;
                }
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $(document).ready(function () {
            $("#pass_value").hide();


            //global array ,it save selected task id
            var rows_selected = [];


            $("#myForm").on("submit", function (e) {

                if (rows_selected.length <= 0) {
                    alert("You must select at least one test case.");
                    e.preventDefault();
                    return false;
                }
                $("#pass_value").val(rows_selected);
                {#e.preventDefault();#}

            });


            //data tables parameter
            var table = $('#task-table').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "autoWidth": true,
                "searching": false,

                columnDefs: [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        return '<input type="checkbox">';
                    }

                }],
                'rowCallback': function (row, data, dataIndex) {
                    // Get row ID
                    var taskID = data[1];

                    // If row ID is in the list of selected row IDs
                    if ($.inArray(taskID, rows_selected) !== -1) {
                        $(row).find('input[type="checkbox"]').prop('checked', true);
                        $(row).addClass('selected');
                    }
                },
                order: [[1, 'asc']],

            });

            // handle click on checkbox
            $('#task-table tbody').on('click', 'input[type="checkbox"]', function (e) {


                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Get task ID
                var taskID = data[1];


                // Determine whether row ID is in the list of selected row IDs
                var index = $.inArray(taskID, rows_selected);

                // If checkbox is checked and row ID is not in list of selected row IDs
                if (this.checked && index === -1) {
                    rows_selected.push(taskID);

                    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                } else if (!this.checked && index !== -1) {
                    rows_selected.splice(index, 1);
                }

                if (this.checked) {
                    $row.addClass('selected');
                } else {
                    $row.removeClass('selected');
                }

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // handle click on table cells with checkboxes
            $('#task-table').on('click', 'tbody td, thead th:first-child', function (e) {
                $(this).parent().find('input[type="checkbox"]').trigger('click');
            });

            // handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#task-table tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#task-table tbody input[type="checkbox"]:checked').trigger('click');
                }

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // handle table draw event
            table.on('draw', function () {
                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);
            });

            //delete buttons
            $('.dt-delete').each(function () {
                <!--TODO ajax remove data -->
                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.parents('tr');
                    if (confirm("Are you sure to delete this row?")) {
                        var table = $('#task-table').DataTable();
                        table.row(dtRow[0].rowIndex - 1).remove().draw(false);
                    }
                });
            });


        });
    </script>
{% endblock %}


{% block body %}

    <form id="myForm" class="form-signin" method="POST">{% csrf_token %}
        <div class="text-right">
            <button id="submit" type="submit" class="btn btn-primary pull-right">Set Parmeters</button>
        </div>

        <table id="task-table" class="hover" style="width:100%">
            <thead>
            <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>TasK ID</th>
                <th>Task Case Name</th>
                <th>Description</th>
                <th>Script Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for data in  datas %}
                <tr id="{{ data.task_id }}">
                    <td></td>
                    <td>{{ data.task_id }}</td>
                    <td>{{ data.task_name }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.script_name }}</td>
                    <td>
                        <div align="center">
                            <button type="button" class="btn btn-danger btn-xs dt-delete">Delete</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>TasK ID</th>
                <th>Task Case Name</th>
                <th>Description</th>
                <th>Script Name</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <input name="task_ids" id="pass_value">
    </form>
{% endblock %}