{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}



{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }
    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block head %}
     <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}


{% block body %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">


        {% for id in task_ids %}
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#T{{ id }}" role="tab"
                   aria-controls="profile" aria-selected="false">Task ID [{{ id }}]</a>
            </li>
        {% endfor %}
    </ul>






    <div class="tab-content" id="myTabContent">
        {% for id in task_ids %}
            <div class="tab-pane fade" id="T{{ id }}" role="tabpanel" aria-labelledby="profile-tab">
                {% for infos   in arg_dict|lookup:id|get_list %}
                    Argument [ {{ infos |lookup:"argument" }}]：
                    <input type="text" name="argument" class="form-control" data-toggle="tooltip" data-placement="left"
                           title=" {{ infos |lookup:"description" }}">

                {% endfor %}

            </div>
        {% endfor %}
    </div>


{% endblock %}