{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}

{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">

{% endblock %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }

        td.details-control {
            background: url('{% static "pic/plus.png" %}') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('{% static "pic/minus.png" %}') no-repeat center center;
        }

        input[type="text"].arguments,
        select.form-control {
            background: transparent;
            border: 1px solid #ced4da;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 10px;
            width: 350px;
        }

        input[type="text"].arguments:focus,
        select.form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 350px;
        }

        .form-control {
            border: 0;
        }
    </style>
{% endblock %}


{% block js %}
    <script>

        var arg_json = JSON.parse("{{ arg_json|escapejs }}");

        /* Formatting function for row details - modify as you need */
        function format(task_id) {
            var task_info = arg_json[task_id];
            var tr_content = "";
            for (var i  in task_info) {
                argment = task_info[i]['argument'];
                default_value = task_info[i]['default_value'];
                description = task_info[i]['description'];


                add =
                    '<tr>' +
                    '<td>' + task_info[i]['argument'] + '</td>' +
                    '<td>' +
                    '<input  data-toggle="tooltip" data-placement="left"' +
                    'title=\'' + description + '\'type="text" name="arg_' + task_id + '_' + argment + '" class="arguments form-control" value=\'' + default_value + '\'>' +
                    '</td>' +
                    '</tr>';
                tr_content += add
            }
            return '<table id="' + task_id + '"  cellpadding="5" cellspacing="0" border="0" style="margin-left:50px;">' + tr_content + '</table>'
        }


        /* dynamic change input default value*/
        $(document).on('change', 'input.arguments', function () {
            task_id = $(this).closest('table').attr('id');
            argument = $(this).closest('td').prev('td').text();

            changed_value = ($(this).val());

            var task_info = arg_json[task_id];

            for (var i  in task_info) {

                if (task_info[i]['argument'] == argument) {
                    task_info[i]['default_value'] = changed_value
                }
            }
        });


        $(document).ready(function () {
            $("#allsubmit").click(function () {

                task_ids = {{ task_ids|safe }}


                    $.each(task_ids, function (i, v) {
                        $("#arg_append").append(format(v))
                    });

                $("#other_form").submit();

            });


            $('body').tooltip({
                selector: '.arguments'
            });

            var table = $('#task_table').DataTable({
                "scrollX": true,
                "searching": false,
                "bPaginate": false,
                "bFilter": false,
                "ordering": false,
                "order": [[1, 'asc']],
                "bInfo": false
            });

            // Add event listener for opening and closing details
            $('#task_table tbody').on('click', 'td.details-control', function () {


                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {

                    var task_id;
                    $(this).parents('tr').find("td").each(function () {
                        if ($(this).hasClass("task_id")) {
                            task_id = $(this).text();
                        }
                    });


                    // Open this row
                    row.child(format(task_id)).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
{% endblock %}




{% block body %}
    <div class="text-right" style="padding-bottom: 30px">


        <button id="allsubmit" type="submit" class="btn btn-outline-primary">Next <i
                class="fas fa-forward"></i>
        </button>

    </div>
    <form id="other_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}

        <table id="task_table" class="row-border" style="width:100%">
            <thead>
            <tr>
                <th>Arguments</th>
                <th>ID</th>
                <th>Name</th>
                <th>TimeOut</th>
                <th>ExitCode</th>
                <th>Retry Count</th>
                <th>Sleep Time</th>
                <th>Criteria</th>

            </tr>
            </thead>
            <tbody>

            {% if is_modify %}

                {% for id,project_arg in task_dict.items %}
                    <tr>
                        <td class="details-control"></td>
                        <td class="task_id">{{ id }}</td>
                        <td>{{ project_arg| lookup:"task_name" }}</td>
                        <td><input type="text" name="timeout_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Test case timeout value"
                                   value="{{ project_arg| lookup:"task_args"|lookup:"timeout" }}"></td>
                        <td><input type="text" name="exitcode_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title=" Pass condition 'exitCode to be define for exit(0) and exit(1)'"
                                   value="{{ project_arg| lookup:"task_args"|lookup:"exit_code" }}">
                        </td>
                        <td>
                            <input type="text" name="retry_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Retry count"
                                   value="{{ project_arg| lookup:"task_args"|lookup:"retry_count" }}">
                        </td>
                        <td>
                            <input type="text" name="sleep_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Sleep time" value="{{ project_arg| lookup:"task_args"|lookup:"sleep_time" }}">
                        </td>
                        <td>
                            <input type="text" name="criteria_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Set test case criteria"
                                   value="{{ project_arg| lookup:"task_args"|lookup:"criteria" }}">
                        </td>


                    </tr>
                {% endfor %}
            {% else %}

                {% for id,name in task_dict.items %}
                    <tr>
                        <td class="details-control"></td>
                        <td class="task_id">{{ id }}</td>
                        <td>{{ name }}</td>
                        <td><input type="text" name="timeout_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Test case timeout value" value="30"></td>
                        <td><input type="text" name="exitcode_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title=" Pass condition 'exitCode to be define for exit(0) and exit(1)'"
                                   value="exitCode">
                        </td>
                        <td>
                            <input type="text" name="retry_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Retry count" value="3">
                        </td>
                        <td>
                            <input type="text" name="sleep_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Sleep time" value="0">
                        </td>
                        <td>
                            <input type="text" name="criteria_{{ id }}" class="form-control" data-toggle="tooltip"
                                   data-placement="left"
                                   title="Set test case criteria" value="success">
                        </td>


                    </tr>

                {% endfor %}

            {% endif %}


            </tbody>

        </table>

        <br>
        <div id="arg_append" style="display: none"></div>
    </form>


{% endblock %}