{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}

{% block head %}
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css" %}">
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/language/en_US.js" %}"></script>



    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">



{% endblock %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }

        td.details-control {
            background: url('{% static "pic/plus.png" %}') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('{% static "pic/minus.png" %}') no-repeat center center;
        }

        input[type="text"].arguments,
        select.form-control {
            background: transparent;
            border: 1px solid #ced4da;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 10px;
            width: 350px;
        }

        input[type="text"].arguments:focus,
        select.form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 350px;
        }

        .form-control {
            border: 0;
        }

        .help-block {
            color: #a94442;
        }

        .form-group.has-error.has-danger .form-control-label {
            color: #a94442;
        }

        .form-group.has-error.has-danger .form-control {
            border: 1px solid #a94442;
            box-shadow: #a94442;
        }

        .has-success .form-control {
            border-color: #3c763d;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }

        .form-control-feedback {

            top: 25px;
            right: 0;
            z-index: 2;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
        }

        .has-error .form-control-feedback {
            color: #a94442;
        }

        .has-success .form-control-feedback {
            color: #3c763d;
        }
    </style>
{% endblock %}


{% block js %}
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //global parameter
        task_infos = {{ prj_task_li|safe }};
        save_count = 0;


        //if used ajax delete task ,the task_infos not be clean, the post using it, so need to clean it.
        function delete_task_info(project_task_id) {
            $.each(task_infos, function (i, info) {
                if (info.id == project_task_id) {
                    delete task_infos[i];
                }
            });
            task_infos = task_infos.filter(item => item);

        }


        function check_valid_data() {
            var all_valid = true;
            $.each(task_infos, function (i, info) {

                $.each(info.args, function (index, value) {
                    if (value.default_value.match(/^[\w|"|\\|\\\\/|\.|\-|\s]+$/) == null) {
                        console.log(value.default_value)
                        all_valid = false;
                    }
                })
            });

            return all_valid
        }


        function format(index, task_id) {
            var tr_content = "";
            $.each(task_infos, function (task_index, info) {
                if ($.isEmptyObject(info) === false) {
                    if (task_index == index) {
                        project_task_id = info.id;
                        $.each(info["args"], function (arg_index, arg_info) {
                            argument = arg_info.argument;
                            default_value = arg_info.default_value;
                            description = arg_info.description;
                            add =
                                '<tr>' +
                                '<td>' + argument + '</td>' +
                                '<td task_index=" ' + task_index + '"' + 'arg_index="' + arg_index + '">' +
                                '<div class="form-group">' +

                                '<input  data-toggle="tooltip" data-placement="left"' +
                                'title=\'' + description + '\'type="text" name="arg_' + argument + '_' + task_id + '_' + project_task_id + '" class="arguments form-control" value=\'' + default_value + '\' required >' +
                                '</div>' +
                                '</td>' +
                                '</tr>';
                            tr_content += add

                        });
                    }
                }

            });

            return '<table class= "detail-table detail_argument ' + task_id + '"  cellpadding="5" cellspacing="0" border="0" style="margin-left:50px;">' + tr_content + '</table>'

        }

        $(function () {
            $('#task_table tbody .task-delete').each(function () {
                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.closest('tr');

                    var info = dtRow.find('td.task_id');

                    var project_task_id = info.attr("project_task_id");

                    if (confirm("Are you sure to delete this row?")) {


                        $.ajax({
                            url: "/project/task_delete/" + project_task_id, // the endpoint,commonly same url
                            type: 'DELETE',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                            },

                            success: function (json) {

                                //clean child table
                                if (dtRow.hasClass("shown")) {


                                    dtRow.next("tr").find("td").find('table').each(function () {
                                        $(this).closest("tr").remove();

                                    })

                                }
                                dtRow.remove();


                                delete_task_info(project_task_id);
                                //check all default valid
                                if (check_valid_data()) {
                                    $("#btn-save").removeAttr('disabled');
                                }

                                //set not save.
                                save_count = 0;
                                $("#allsubmit").hide();
                                //if didn't have data will show no data message
                                var table_row = $("#task_table tbody").find("tr").length;
                                if (table_row == 0) {
                                    $("#task_table tbody").append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">No data available in table</td></tr>')
                                    $("#allsubmit").hide()
                                }


                            },
                            error: function (xhr, errmsg, err) {
                                console.log("Delete failde."); // provide a bit more info about the error to the console

                                //clean child table
                                if (dtRow.hasClass("shown")) {
                                    dtRow.next("tr").find("td").find('table').each(function () {
                                        dtRow.next("tr").find("td").find('table').each(function () {
                                            $(this).closest("tr").remove();
                                        })
                                    })

                                }
                                dtRow.remove()
                                {#$("#btn-save").removeAttr('disabled');#}
                            }
                        });

                    }

                });


            });

        });


        /* dynamic change input default value*/
        $(document).on('change', 'input.arguments', function () {
            task_id = $(this).closest('table').attr('id');
            argument = $(this).closest('td').prev('td').text();

            changed_value = ($(this).val());

            task_index = $(this).closest("td").attr("task_index");
            arg_index = $(this).closest("td").attr("arg_index");


            $.each(task_infos, function (ti, info) {

                if (ti == task_index) {

                    $.each(info["args"], function (ai, arg_info) {
                        if (ai == arg_index) {
                            arg_info.default_value = changed_value
                        }

                    });
                }
            });

        });


        $(document).ready(function () {


            $("#task_table").bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'fas fa-check',
                    invalid: 'none',
                    validating: 'fas fa-sync-alt'
                },
                fields: {
                    {% for info in prj_task_li %}

                        task_name_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                            message: 'The task name is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The task name cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^[\w|_|\s]+$/,
                                    message: 'The task name is incorrect.'
                                },
                            }
                        },

                        exitcode_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                            message: 'The exit code is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The exit code cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^\w+$/,
                                    message: 'The exit code is incorrect.'
                                },
                            }
                        },

                        retry_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                            message: 'The retry count is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The retry count cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^\d+$/,
                                    message: 'The retry count is incorrect.'
                                },
                            }
                        },

                        sleep_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                            message: 'The sleep time is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The sleep time cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^\d+$/,
                                    message: 'The sleep time is incorrect.'
                                },
                            }
                        },


                        criteria_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                            message: 'The criteria is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The criteria cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^success|failed$/,
                                    message: 'The criteria is incorrect.'
                                },
                            }
                        },


                    {% endfor %}
                }

            }).on('error.field.bv', function (e, data) {
                $("#btn-save").attr('disabled', 'disabled');
            })
                .on('success.field.bv', function (e, data) {
                    $("#btn-save").removeAttr('disabled');
                });


            //handler the page live event ,if not clicked save will show alert message.
            window.onbeforeunload = function (e) {
                if (save_count == 0) {
                    var message = "Your confirmation message goes here.",
                        e = e || window.event;
                    // For IE and Firefox
                    if (e) {
                        e.returnValue = message;
                    }
                    // For Safari
                    return message;
                }
            };


            //if not data hide the next button
            if (($("#task_table tbody tr")).length == 0) {
                $("#allsubmit").hide()
            }

            //if not click save button hide the next button
            if (save_count == 0) {
                $("#allsubmit").hide()
            }


            $("#btn-save").click(function (e) {
                save_count += 1;


                //clean old append
                $('#arg_append').empty();

                task_ids = [];
                $(".task_id").each(function () {
                    task_ids.push($(this).text())
                });

                //append the arg paramter to other form
                $.each(task_ids, function (i, v) {
                    $("#arg_append").append(format(i, v))
                });


                //it will return the "task_id_project_task_id" example 0000001_1
                all_sorted_tasks_id = [];
                $('#task_table tbody tr td').each(function () {
                    if ($(this).hasClass("task_id")) {
                        task_id = $(this).text();

                        project_task_id = $(this).attr("project_task_id");


                        all_sorted_tasks_id.push(task_id + "_" + project_task_id)
                    }
                });

                $("#arg_append").append('<input type="text" name="all_task"  type="hidden" value="' + all_sorted_tasks_id + '">');

                $("#arg_append").append('<input type="text" name="ajax_saved"  type="hidden">');


                data = $("#other_form").serialize();


                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: data, // serializes the form's elements.
                    success: function (data) {
                        $("#saved-message").empty();

                        $("#saved-message").append(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            '<strong>Save TestScript was Successfully!</strong>' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>')
                        //auto close alert  after 4 seconds.
                        $(".alert").delay(4000).slideUp(200, function () {
                            $(this).alert('close');
                        });


                    },
                    error: function (xhr, errmsg, err) {


                        $("#saved-message").empty();

                        $("#saved-message").append(
                            '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            '<strong>' + xhr.responseText + '</strong>' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>')

                        //auto close alert  after 4 seconds.
                        $(".alert").delay(4000).slideUp(200, function () {
                            $(this).alert('close');
                        });

                    }
                });

                e.preventDefault();


                if (save_count > 0) {
                    $("#allsubmit").show()
                }
            });


            //if click "next" will submit all argument to confirm.html
            $("#allsubmit").click(function (e) {
                e.preventDefault();

                $("#arg_append").empty();
                task_ids = [];
                $(".task_id").each(function () {
                    task_ids.push($(this).text())
                });

                $.each(task_ids, function (i, v) {
                    $("#arg_append").append(format(i, v))
                });
                //it will return the "task_id_project_task_id" example 0000001_1
                all_sorted_tasks_id = [];
                $('#task_table tbody tr td').each(function () {
                    if ($(this).hasClass("task_id")) {
                        task_id = $(this).text();

                        project_task_id = $(this).attr("project_task_id");


                        all_sorted_tasks_id.push(task_id + "_" + project_task_id)
                    }
                });

                $("#arg_append").append('<input type="text" name="all_task"  type="hidden" value="' + all_sorted_tasks_id + '">');

                $("#other_form").submit();

            });


            $("#add_task").click(function (e) {
                e.preventDefault();

                save_count += 1;
                task_ids = [];

                $(".task_id").each(function () {
                    task_ids.push($(this).text())
                });


                $.each(task_ids, function (i, v) {
                    $("#arg_append").append(format(i, v))
                });


                $("#arg_append").append('<input type="text" name="add_task"  type="hidden" value="' + task_ids + '">');


                $("#other_form").submit();
            });


            $('body').tooltip({
                selector: '.arguments'
            });

            var table = $('#task_table').DataTable({
                "scrollX": true,
                "searching": false,
                "bPaginate": false,
                "bFilter": false,
                "ordering": false,
                "order": [[1, 'asc']],
                "bInfo": false,
                "columnDefs": [
                    {
                        "width": "1%",
                        "targets": 0
                    },
                    {
                        "width": "25%",
                        "targets": 2
                    }
                ]

            });
            // Add event listener for opening and closing details
            $('#task_table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr.row_tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {

                    var task_id, index;
                    $(this).parents('tr').find("td").each(function () {
                        if ($(this).hasClass("task_id")) {
                            task_id = $(this).text();
                            index = $(".row_tr").index(tr)
                        }
                    });

                    // Open this row
                    row.child(format(index, task_id)).show();
                    tr.addClass('shown');

                    tr.next('tr').find('td').find("table.detail-table").bootstrapValidator({
                        message: 'This value is not valid',
                        feedbackIcons: {
                            valid: 'fas fa-check',
                            invalid: 'none',
                            validating: 'fas fa-sync-alt'
                        },
                        fields: {
                            {% for info in prj_task_li %}
                                {% for arg in info|lookup:"args" %}
                                    arg_{{ arg|lookup:"argument"}}_{{ info|lookup:"task_id" }}_{{ info|lookup:"id" }}: {
                                        message: 'The default value is not valid',
                                        validators: {
                                            notEmpty: {
                                                message: 'The default value cannot be empty.'
                                            },
                                            regexp: {
                                                regexp: /^[\w|"|\\|\\\\/|\.|\-|\s|\u4e00-\u9fa5]+$/,
                                                message: 'The default value is incorrect.'
                                            },
                                        }
                                    },
                                {% endfor %}
                            {% endfor %}
                        }

                    }).on('error.field.bv', function (e, data) {
                        $("#btn-save").attr('disabled', 'disabled');
                    })
                        .on('success.field.bv', function (e, data) {
                            $("#btn-save").removeAttr('disabled');
                        });


                    //hide the unless value
                    tr.next('tr').find('td').find("table.detail-table").find("td").each(function () {
                        var field = $(this).find('input');
                        if (field.length) {
                            var value = field.val();
                            if (value.match(/^-.+/)) {
                                field.closest('tr').hide()
                            }

                        }
                    })
                }
            });
        })
        ;
    </script>
{% endblock %}




{% block body %}
    <div id="saved-message"></div>


    <div class="text-right" style="padding-bottom: 30px">
        <button id="add_task" type="submit" class="btn btn-outline-success">Add <i class="fas fa-plus"></i>
        </button>
    </div>

    <form id="other_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}

        <table id="task_table" class="row-border">
            <thead>
            <tr>
                <th>Arguments</th>
                <th>ID</th>
                <th>Name</th>
                <th>TimeOut</th>
                <th>ExitCode</th>
                <th>Retry Count</th>
                <th>Sleep Time</th>
                <th>Criteria</th>
                <th style="text-align: center">Action</th>

            </tr>
            </thead>
            <tbody>

            {#todo add for all input form-group#}
            {% for project_di in prj_task_li %}
                <tr class="row_tr">
                    <td class="details-control"></td>
                    <td class="task_id" id="{{ forloop.counter }}"
                        project_task_id="{{ project_di|lookup:"id" }}">{{ project_di|lookup:"task_id" }}</td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="task_name_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   value="{{ project_di| lookup:"task_name" }}" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="timeout_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Test case timeout value"
                                   value="{{ project_di| lookup:"timeout" }}" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="exitcode_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title=" Pass condition 'exitCode to be define for exit(0) and exit(1)'"
                                   value="{{ project_di| lookup:"exit_code" }}" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="retry_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Retry count"
                                   value="{{ project_di| lookup:"retry_count" }}" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="sleep_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Sleep time"
                                   value="{{ project_di| lookup:"sleep_time" }}" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"
                                   name="criteria_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                                   class="form-control"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Set test case criteria"
                                   value="{{ project_di| lookup:"criteria" }}" required>
                        </div>
                    </td>

                    <td>

                        <div class="text-center">
                            <button type="button"
                                    class=" btn btn-outline-danger btn-xs   btn-md center-block task-delete"><i
                                    class="fas fa-trash"></i>
                            </button>

                        </div>

                    </td>

                </tr>
            {% endfor %}


            </tbody>

        </table>

        <br>
        <div id="arg_append" style="display: none"></div>
    </form>

    <div class=text-center>
        <button id="btn-save" class="btn btn-outline-primary" type="button"><i class="fas fa-save"></i> Save</button>

        <button id="allsubmit" type="submit" class="btn btn-outline-primary">Next <i
                class="fas fa-share"></i>
        </button>
    </div>
{% endblock %}