{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}

{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">

{% endblock %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }

        td.details-control {
            background: url('{% static "pic/plus.png" %}') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('{% static "pic/minus.png" %}') no-repeat center center;
        }

        input[type="text"].arguments,
        select.form-control {
            background: transparent;
            border: 1px solid #ced4da;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 10px;
            width: 350px;
        }

        input[type="text"].arguments:focus,
        select.form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 350px;
        }

        .form-control {
            border: 0;
        }
    </style>
{% endblock %}


{% block js %}
    <script>

        task_infos = {{ prj_task_li|safe }};

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        //if used ajax delete task ,the task_infos not be clean, the post using it, so need to clean it.
        function delete_task_info(project_task_id) {

            $.each(task_infos, function (i, info) {
                if (info.id == project_task_id) {
                    delete task_infos[i];

                }

            });

            task_infos = task_infos.filter(item => item);

        }


        // Formatting function for row details - modify as you need
        function format(index, task_id) {

            var tr_content = "";


            $.each(task_infos, function (task_index, info) {
                if ($.isEmptyObject(info) === false) {
                    if (task_index == index) {


                        project_task_id = info.id;
                        $.each(info["args"], function (arg_index, arg_info) {

                            argument = arg_info.argument;
                            default_value = arg_info.default_value;
                            description = arg_info.description;


                            add =
                                '<tr>' +
                                '<td>' + argument + '</td>' +
                                '<td task_index=" ' + task_index + '"' + 'arg_index="' + arg_index + '">' +
                                '<input  data-toggle="tooltip" data-placement="left"' +
                                'title=\'' + description + '\'type="text" name="arg_' + argument + '_' + task_id + '_' + project_task_id + '" class="arguments form-control" value=\'' + default_value + '\'>' +
                                '</td>' +
                                '</tr>';
                            tr_content += add

                        });

                    }


                }

            });

            return '<table id="' + task_id + '"  cellpadding="5" cellspacing="0" border="0" style="margin-left:50px;">' + tr_content + '</table>'

        }


        $(function () {
            $('#task_table tbody .task-delete').each(function () {
                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.closest('tr');

                    var info = dtRow.find('td.task_id');

                    var project_task_id = info.attr("project_task_id");


                    if (confirm("Are you sure to delete this row?")) {

                        delete_task_info(project_task_id);




                                    $.ajax({
                                        url: "/project/task_delete/" + project_task_id, // the endpoint,commonly same url
                                        type: 'DELETE',
                                        data: {
                                            csrfmiddlewaretoken: getCookie('csrftoken')
                                            ,
                                        },

                                        success: function (json) {
                                            dtRow.remove();


                                        }
                                        ,


                                        error: function (xhr, errmsg, err) {

                                            console.log("Delete failde."); // provide a bit more info about the error to the console
                                            dtRow.remove()
                                        }
                                    });

                    }

                });


            });

        });


        /* dynamic change input default value*/
        $(document).on('change', 'input.arguments', function () {
            task_id = $(this).closest('table').attr('id');
            argument = $(this).closest('td').prev('td').text();

            changed_value = ($(this).val());

            task_index = $(this).closest("td").attr("task_index");
            arg_index = $(this).closest("td").attr("arg_index");


            $.each(task_infos, function (ti, info) {

                if (ti == task_index) {

                    $.each(info["args"], function (ai, arg_info) {
                        if (ai == arg_index) {
                            arg_info.default_value = changed_value
                        }

                    });
                }
            });

        });


        $(document).ready(function () {




            //if click "next" will submit all argument to confirm.html
            $("#allsubmit").click(function (e) {
                e.preventDefault();

                console.log(task_infos);

                task_ids = [];
                $(".task_id").each(function () {
                    task_ids.push($(this).text())
                });

                $.each(task_ids, function (i, v) {
                    $("#arg_append").append(format(i, v))
                });
                //it will return the "task_id_project_task_id" example 0000001_1
                all_sorted_tasks_id = []
                $('#task_table tbody tr td').each(function () {
                    if ($(this).hasClass("task_id")) {
                        task_id = $(this).text();

                        project_task_id = $(this).attr("project_task_id");


                        all_sorted_tasks_id.push(task_id + "_" + project_task_id)
                    }
                });

                $("#arg_append").append('<input type="text" name="all_task"  type="hidden" value="' + all_sorted_tasks_id + '">');

                $("#other_form").submit();

            });


            $("#add_task").click(function (e) {
                e.preventDefault();

                task_ids = [];

                $(".task_id").each(function () {
                    task_ids.push($(this).text())
                });


                $.each(task_ids, function (i, v) {
                    $("#arg_append").append(format(i, v))
                });


                $("#arg_append").append('<input type="text" name="add_task"  type="hidden" value="' + task_ids + '">');


                $("#other_form").submit();
            });


            $('body').tooltip({
                selector: '.arguments'
            });

            var table = $('#task_table').DataTable({
                "scrollX": true,
                "searching": false,
                "bPaginate": false,
                "bFilter": false,
                "ordering": false,
                "order": [[1, 'asc']],
                "bInfo": false
            });

            // Add event listener for opening and closing details
            $('#task_table tbody').on('click', 'td.details-control', function () {
                console.log("in")
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {

                    var task_id, index;
                    $(this).parents('tr').find("td").each(function () {
                        if ($(this).hasClass("task_id")) {
                            task_id = $(this).text();

                            count = $(this).attr("id");

                            index = count - 1
                        }
                    });


                    // Open this row
                    row.child(format(index, task_id)).show();
                    tr.addClass('shown');
                }
            });
        })
        ;
    </script>
{% endblock %}




{% block body %}
    <div class="text-right" style="padding-bottom: 30px">
        <button id="add_task" type="submit" class="btn btn-outline-success">Add <i class="fas fa-plus"></i>
        </button>

        <button id="allsubmit" type="submit" class="btn btn-outline-primary">Next <i
                class="fas fa-forward"></i>
        </button>

    </div>
    <form id="other_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}

        <table id="task_table" class="row-border" style="width:100%">
            <thead>
            <tr>
                <th>Arguments</th>
                <th>ID</th>
                <th>Name</th>
                <th>TimeOut</th>
                <th>ExitCode</th>
                <th>Retry Count</th>
                <th>Sleep Time</th>
                <th>Criteria</th>
                <th style="text-align: center">Action</th>

            </tr>
            </thead>
            <tbody>


            {% for project_di in prj_task_li %}
                <tr>
                    <td class="details-control"></td>
                    <td class="task_id" id="{{ forloop.counter }}"
                        project_task_id="{{ project_di|lookup:"id" }}">{{ project_di|lookup:"task_id" }}</td>
                    <td><input type="text"
                               name="task_name_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               value="{{ project_di| lookup:"task_name" }}"></td>
                    <td><input type="text"
                               name="timeout_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               data-toggle="tooltip"
                               data-placement="left"
                               title="Test case timeout value"
                               value="{{ project_di| lookup:"timeout" }}"></td>
                    <td><input type="text"
                               name="exitcode_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               data-toggle="tooltip"
                               data-placement="left"
                               title=" Pass condition 'exitCode to be define for exit(0) and exit(1)'"
                               value="{{ project_di| lookup:"exit_code" }}">
                    </td>
                    <td>
                        <input type="text"
                               name="retry_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               data-toggle="tooltip"
                               data-placement="left"
                               title="Retry count"
                               value="{{ project_di| lookup:"retry_count" }}">
                    </td>
                    <td>
                        <input type="text"
                               name="sleep_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               data-toggle="tooltip"
                               data-placement="left"
                               title="Sleep time"
                               value="{{ project_di| lookup:"sleep_time" }}">
                    </td>
                    <td>
                        <input type="text"
                               name="criteria_{{ project_di|lookup:"task_id" }}_{{ project_di|lookup:"id" }}"
                               class="form-control"
                               data-toggle="tooltip"
                               data-placement="left"
                               title="Set test case criteria"
                               value="{{ project_di| lookup:"criteria" }}">
                    </td>

                    <td>
                        <div class="text-center">
                            <button type="button"
                                    class=" btn btn-outline-danger btn-xs   btn-md center-block task-delete"><i
                                    class="fas fa-trash"></i>
                            </button>

                        </div>

                    </td>

                </tr>
            {% endfor %}


            </tbody>

        </table>

        <br>
        <div id="arg_append" style="display: none"></div>
    </form>


{% endblock %}