{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}


{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .task {
            border: 1px #ccc dashed;
            padding: 10px;
        }

        ul li {
            list-style-type: none;
        }

    </style>
{% endblock %}



{% block js %}
    <script>
        $(function () {
            $("#sort-task").sortable();
            $("#sort-task").disableSelection();
        });


        $(function () {
            <!--pass value to download needs-->
            $("#export_form").on("submit", function (e) {
                var task_list = {{ not_dedup_task_ids|safe }};
                var path = {{ testScript_path |safe }};


                var ini_content = "";
                $("#sort-task li p").each(function () {
                    lines = ($(this).html().split('<br>'));
                    for (var i = 0; i < lines.length; ++i) {
                        ini_content += lines[i] + "\n"
                    }
                });

                //if not remove the old input the post will post the list
                $("#task_list").remove();
                $("#ini_content").remove();
                $("#path").remove();
                $("#chose_files").remove();

                $(this).append('<input  id="task_list" type="hidden" name="task_list"/>');
                $("#task_list").val(task_list);

                $(this).append('<input  id="ini_content" type="hidden" name="ini_content"/>');
                $("#ini_content").val(ini_content);

                $(this).append('<input  id="path" type="hidden" name="path"  />');
                $("#path").val(path);

                //if had choose_map means the conflict file had been choose ,so need to post to download let download page choose the specific file.
                {% if chose_map %}
                    var chose_files = JSON.stringify({{ chose_map |safe }});
                    $(this).append('<input  id="chose_files" type="hidden" name="chose_files" />');
                    $("#chose_files").val(chose_files);
                {% endif %}

            });
        });


        $(document).ready(function () {

            //if on modify page ,it item had been move will create new testScript.ini
            $('#sort-task').sortable({
                start: function (event, ui) {
                    ui.item.data('start_pos', ui.item.index());
                },
                stop: function (event, ui) {
                    var start_pos = ui.item.data('start_pos');
                    if (start_pos != ui.item.index()) {
                        // the item got moved
                        $("#item_moved").val("True")
                    } else {
                        // the item was returned to the same position
                        $("#item_moved").val("False")
                    }
                },
            });


            <!--pass value from choose page to download page needs-->
            $("#chose_form").one("submit", function (e) {

                // get value from normal confirm page ,it need on conflict page.
                var not_dedup_task_ids = {{ not_dedup_task_ids|safe }};
                var path = {{ testScript_path |safe }};
                var ini_content_map = JSON.stringify({{ ini_content_map|safe }});


                var conflict_files = {{ cf_tasks.keys|get_list|safe  }};


                $(this).append('<input  id="ini_content_map" type="hidden" name="ini_content_map"/>');
                $("#ini_content_map").val(ini_content_map);


                $(this).append('<input  id="not_dedup_task_ids" type="hidden" name="not_dedup_task_ids"/>');
                $("#not_dedup_task_ids").val(not_dedup_task_ids);

                $(this).append('<input  id="path" type="hidden" name="path"  />');
                $("#path").val(path);

                $(this).append('<input  id="conflict_files" type="hidden" name="conflict_files"/>');
                $("#conflict_files").val(conflict_files);

                //nofity the confirm page had conflicted
                $(this).append('<input  id="conflicted" type="hidden" name="conflicted" />');


            });
        });


    </script>
{% endblock %}



{% block head %}
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/ui-lightness/theme.css" %}">
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static  "bower_components/highlightjs/styles/github-gist.css" %}">
    <script src="{% static "bower_components/highlightjs/highlight.pack.min.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}



{% block body %}

    {% if err_message is None %}
        <h3>TestScript.ini Content</h3>
    {% endif %}


    {% if err_message %}

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">You got an error!</h4>
            <hr>
            <p>{{ err_message }}</p>

        </div>

        <form id="chose_form" role="form" method="POST">{% csrf_token %}
            <table class="table " id="task-table">
                <tbody>
                <thead>
                <tr>
                    <th scope="col" style="width: 30%">Conflict File</th>
                    <th scope="col" style="width: 70%">TestCase Name</th>

                </tr>
                </thead>
                <tbody>
                {% for k,tasks in cf_tasks.items %}
                    <tr>


                        <td><label class="tasks-lable" style="text-align: left">{{ k|escape }} </label></td>

                        <td>
                            <select class="form-control" name="{{ k |escape }}">
                                {% for task in tasks %}
                                    <option value="{{ task }}">{{ task }}</option>
                                {% endfor %}
                            </select>

                        </td>


                    </tr>


                {% endfor %}

                </tbody>
            </table>

        </form>



    {% endif %}




    {% if err_message is None %}

        <ul id="sort-task">

            {% for task,content in ini_content_map.items %}
                <li class="task" id="{{ task }}"><code class="javascript"
                                                       style="color:#333333;">{{ content |linebreaks }}</code></li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if disable_download %}
        <button id="confirm" type="submit" class="btn btn-primary btn-lg btn-block" form="chose_form"><i
                class="fas fa-check"></i> Confirm
        </button>
    {% else %}
        {#        <a href="{% url "export_task" %}" id="save" class="btn btn-primary btn-lg btn-block" role="button"><i class="fas fa-download"></i>Download</a>#}

        <form id="export_form" action="{% url "export_task" token %}" method="post">{% csrf_token %}
            <button id="save" type="submit" class="btn btn-success btn-lg btn-block"><i class="fas fa-download"></i>
                Download & Save Project
            </button>


            <input id="item_moved" type="hidden" name="item_moved"/>
        </form>
    {% endif %}

{% endblock %}