{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

    </style>
{% endblock %}



{% block body %}
    <h3>Create Project</h3>

    {% if c.errors %}

        {% for field in c %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="text-right">
        <button id="go_select" type="submit" class="btn btn-primary" form="create_project">Next <i
                class="fas fa-forward"></i>
        </button>
    </div>

    <form id="create_project" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <label for="project_name">Project Name：</label>{{ c.project_name }}

    </form>

{% endblock %}