{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}




{% block head %}

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/jquery-treegrid/css/jquery.treegrid.css" %}">

    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "bower_components/jquery-treegrid/js/jquery.treegrid.js" %}"></script>

    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>

    <script src="{% static "bower_components/semantic/dist/semantic.min.js" %}"></script>


{% endblock %}


{% block css %}
    <style>

        .dataTables_filter, .dataTables_info {
            display: none;
        }

        h3 {
            text-align: center;
        }

        tbody tr:last-child {
            border-bottom: 1px solid #dee2e6;
        }

        .table tbody tr td {
            vertical-align: middle;
        }


    </style>
{% endblock %}



{% block js %}
    <script>
        function check_all_task() {
            var error_count = 0;
            $(".status").each(function () {
                if ($(this).hasClass('text-danger')) {
                    error_count += 1;
                }
            });


            if (error_count <= 0) {
                $("#submit_project").attr("disabled", false)
            } else {
                $("#submit_project").attr("disabled", true)
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {


            $('.tree').treegrid({});
            {#$('.tree').treegrid('collapseAll');#}


            $(".btn-upload").click(function () {
                var input_upload = $(this).next(".file_upload");
                input_upload.click()

            });


            $(".file_upload").click(function () {
                $(this).val("")
            });


            $(".file_upload").change(function () {
                if ($(this).val()) {
                    var closet_div = $(this).parent("div");
                    var check_btn = closet_div.find(".btn-check");
                    var add_brn = closet_div.find(".btn-upload");

                    if (check_btn.length <= 0) {
                        add_brn.hide();
                        closet_div.append("<button class=\"btn btn-outline-success btn-check\" type=\"button\"><i\ class=\"fas fa-check\"></i> Confirm</button>\n")


                    } else {
                        if ((check_btn.is(":hidden"))) {
                            add_brn.hide();
                            check_btn.show()
                        }
                    }
                }


            });


            $(document).on('click', '.btn-check', function () {
                var btn_obj = $(this);
                var closet_div = $(this).parent("div");
                var add_brn = closet_div.find(".btn-upload");
                var tr = $(this).closest('tr');
                var status_field = tr.find('td').last();


                cls_array = tr.attr("class").split(" ");

                var project_name = cls_array[0];
                var part_number = cls_array[1];
                var station_name = cls_array[2];
                var file_data = $(this).prev('input[type="file"]').prop('files')[0];


                var form_data = new FormData();
                form_data.append('file', file_data);
                form_data.append('project_name', project_name);
                form_data.append('part_number', part_number);
                form_data.append('station_name', station_name);
                form_data.append('csrfmiddlewaretoken', getCookie('csrftoken'));


                $.ajax({
                    url: "{% url "valid_log" %}",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,

                    success: function (json) {
                        $("#message").empty();

                        $("#message").append(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            '<strong>The log file was passed!</strong>' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>')

                        btn_obj.hide();
                        add_brn.show();

                        //clean status and set success icon
                        status_field.html("");
                        status_field.append("<div class=\"text-center text-success h5 status\"><i class=\"fas fa-check-circle\"></i></div>");

                        //if all task passed will unlock submit button
                        check_all_task()


                        //auto close alert  after 4 seconds.
                        $(".alert").delay(4000).slideUp(200, function () {
                            $(this).alert('close');

                        })
                    },

                    error: function (xhr, errmsg, err) {

                        var json = $.parseJSON(xhr.responseText);

                        if (json.valid == false) {
                            $("#message").empty();
                            var error_messages = json.message;
                            $("#message").append(
                                '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<strong>' + error_messages + '</strong>' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div>')


                            //auto close alert  after 4 seconds.
                            $(".alert").delay(4000).slideUp(200, function () {
                                $(this).alert('close');

                            });
                            //disable check button
                            btn_obj.hide();
                            add_brn.show();

                            //if all task not pass will lock submit button
                            $("#submit_project").attr("disabled", true);

                            //clean status and set failed icon
                            status_field.html("");
                            status_field.append("<div class=\"text-center text-danger h5 status\"><i class=\"fas fa-minus-circle\"></i></div>")

                        }

                    }
                });

            });


            $("#submit_project").click(function () {
                var error_count = 0;
                $(".status").each(function () {
                    if ($(this).hasClass('text-danger')) {
                        error_count += 1;
                    }
                });

                $(document).ajaxStart(function () {
                    $("body").hide();

                                      //dynamically loading css
                    loadCSS = function (href) {
                        var cssLink = $("<link  id='load_css' rel='stylesheet' type='text/css' href='" + href + "'>");
                        $("head").append(cssLink);
                    };


                    loadCSS("{% static "bower_components/semantic/dist/semantic.min.css" %}");


                    $(".load_panel").each(function () {
                        $(this).remove()
                    });

                    $("html").append(
                        '<div class="load_panel" style="width: 100%; height: 100%;">' +
                        '  <div class="ui active inverted dimmer">' +
                        '    <div class="ui indeterminate text loader">Please waiting , Project is uploading to AIT Server</div>' +
                        '  </div>' +
                        '</div>');


                });


                $(document).ajaxComplete(function () {
                    $(".load_panel").each(function () {
                        $(this).remove()
                    });

                    // remove load.css
                    $("#load_css").remove();
                    $("body").show()
                });

                if (error_count <= 0) {
                    $.ajax({
                        url: "{% url "submit_project" %}",
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: getCookie('csrftoken'),
                            project_name: '{{ project_name }}'
                        },

                        success: function (json) {
                            $("#message").empty();

                            $("#message").append(
                                '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                '<strong>The project was uploaded successfully!</strong>' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div>')


                            //auto close alert  after 4 seconds.
                            $(".alert").delay(4000).slideUp(200, function () {
                                $(this).alert('close');

                            })
                        },

                        error: function (xhr, errmsg, err) {
                            $("#message").empty();
                            if (xhr.status == 500) {
                                $("#message").append(
                                    '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                    '<strong>' + xhr.statusText + '</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div>');
                            }
                            else {
                                var json = $.parseJSON(xhr.responseText);
                                if (json.valid == false) {
                                    var error_messages = json.message;
                                    $("#message").append(
                                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                        '<strong>' + error_messages + '</strong>' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                        '</button>' +
                                        '</div>');
                                }


                            }


                        }
                    });

                } else {
                    alert("Your project task had some error.")
                }

            })


        });
    </script>
{% endblock %}

{% block body %}


    <h3>[ {{ project_name }} ] Log File Confirm</h3>
    <br>

    <div id="message"></div>
    <table class="tree table  table-hover" id="project_table">
        <thead>
        <tr>
            <th>Station Name
            </th>

            <th class="text-right" style="padding-right: 4%">Action</th>
            <th class="text-center">Status</th>

        </tr>
        </thead>

        <tbody>
        {% for prj in project_structure %}



            {% for pn in prj|lookup:"pn_list" %}
                <tr class="{{ prj|lookup:"project_name" }} {{ pn|lookup:"part_number" }} treegrid-{{ pn|lookup:"pn_id" }} ">
                    <td height="60" colspan="3" class="font-weight-bolder">{{ pn|lookup:"part_number" }}
                    </td>


                </tr>



                {% for st in pn|lookup:"st_list" %}

                    <tr class="{{ prj|lookup:"project_name" }} {{ pn|lookup:"part_number" }} {{ st|lookup:"station_name" }} treegrid-parent-{{ pn|lookup:"pn_id" }}">


                        <td>{{ st|lookup:"station_name" }}

                        </td>

                        <td>

                            <div class="text-right">

                                <button class="btn btn-outline-primary btn-upload" type="button"><i
                                        class="fas fa-plus"></i> Add Log
                                </button>
                                <input type="file" class="file_upload" accept=".log" style="display: none">
                            </div>

                        </td>

                        <td>
                            <div class="text-center text-danger h5 status"><i class="fas fa-minus-circle"></i></div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

        {% endfor %}
        </tbody>

    </table>
    <br>


    <div class="text-center">
        <button id="submit_project" class="btn btn-outline-primary" type="button" disabled><i class="fas fa-save"></i>
            Submit Project
        </button>
    </div>


{% endblock %}
