{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}

{% block head %}




    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/jquery-treegrid/css/jquery.treegrid.css" %}">




    <script src="{% static "bower_components/jquery-treegrid/js/jquery.treegrid.js" %}"></script>



{% endblock %}



{% block css %}
    <style>

        .dataTables_filter, .dataTables_info {
            display: none;
        }

        h3 {
            text-align: center;
        }


    </style>
{% endblock %}



{% block js %}


    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(function () {
            $('#project_table tbody .dt-edit').each(function () {
                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    project_name = editRow.attr("id");
                    console.log(project_name)
                    location.href = "/project/modify/" + project_name;
                });
            });
        });


        $(function () {

            $('#project_table tbody .dt-delete').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.parents('tr');

                    if (confirm("Are you sure to delete this row?")) {

                        projectName = dtRow.attr("id");
                        console.log(projectName)

                        var csrftoken = getCookie('csrftoken');

                        $.ajax({
                            url: "/project/delete/" + projectName, // the endpoint,commonly same url
                            type: 'DELETE',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },

                            success: function (json) {
                                console.log(json); // another sanity check

                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });


                        dtRow.remove()
                    }
                });


            });


            $('#task-table tbody .dt-edit').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    taskID = editRow.attr("id");

                    location.href = "/testCase/modify/" + taskID;
                });
            });


        });


        $(document).ready(function () {

            $('.tree').treegrid({});
            $('.tree').treegrid('collapseAll');


        });
    </script>
{% endblock %}
{% block body %}
    <p style="text-align: center;font-weight:600;font-size: 26px;">[ {{ username |title }} ] Project</p>
    <br>




    <table class="tree table  table-hover" id="project_table">
        <thead>
        <tr>
            <th width="20%">Project Structure</th>
            {% if request.user.is_staff %}
                <th>Onwer User</th>
            {% endif %}
            <th>Create Date</th>
            <th>Create Time</th>
            <th style="text-align: center">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for prj in project_structure %}
            <tr class="treegrid-{{ prj|lookup:"project_id" }} expanded" id="{{ prj|lookup:'project_name' }}">
                <td>{{ prj|lookup:"project_name" }}</td>
                {% if request.user.is_staff %}
                    <td>{{ prj|lookup:"owner_user" }}</td>
                {% endif %}
                <td>
                    {{ prj|lookup:"date"|date:'Y-m-d' }}
                </td>

                <td>
                    {{ prj|lookup:"date"|date:'h:i A' }}
                </td>
                <td>
                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button"
                                    class=" btn btn-outline-danger btn-xs   btn-md center-block dt-delete"><i
                                    class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>


            {% for pn in prj|lookup:"pn_list" %}
                <tr class="treegrid-{{ pn|lookup:"pn_id" }} treegrid-parent-{{ prj|lookup:"project_id" }}">

                    <td colspan="4">{{ pn|lookup:"part_number" }}</td>
                    <td>

                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button"
                                        class=" btn btn-outline-danger btn-xs   btn-md center-block dt-delete"><i
                                        class="fas fa-trash"></i>
                                </button>
                            </div>

                        </div>

                    </td>
                </tr>



                {% for st in pn|lookup:"st_list" %}

                <tr class="treegrid-parent-{{pn|lookup:"pn_id"  }}">
                    <td colspan="4">{{ st|lookup:"station_name" }}

                    </td>

                    <td>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button"
                                        class=" btn btn-outline-danger btn-xs   btn-md center-block dt-delete"><i
                                        class="fas fa-trash"></i>
                                </button>
                            </div>

                        </div>

                    </td>

                </tr>

                {% endfor %}


            {% endfor %}

        {% endfor %}
        </tbody>
    </table>


{% endblock %}