{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}

{% block head %}






    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/jquery-treegrid/css/jquery.treegrid.css" %}">


    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "bower_components/jquery-treegrid/js/jquery.treegrid.js" %}"></script>

    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>



{% endblock %}





{% block css %}
    <style>

        .dataTables_filter, .dataTables_info {
            display: none;
        }

        h3 {
            text-align: center;
        }

        tbody tr:last-child {
            border-bottom: 1px solid #dee2e6;
        }

        .table tbody tr td {
            vertical-align: middle;
        }

    </style>
{% endblock %}



{% block js %}


    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $(function () {
            $(".change-user").each(function () {

                $(this).click(function () {
                    var dtRow = $(this).closest('tr');
                    var cls_array = (dtRow.attr("class").split(" "));
                    var username = $(this).closest("div.input-group").find("select.owner-user option:selected").text();
                    var project_name = cls_array[0];
                    if (confirm("Are you sure to change this project owner user?")) {
                        $.ajax({
                            url: "/project/modify_user/",
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: getCookie('csrftoken'),
                                project_name: project_name,
                                username: username
                            },

                            success: function (json) {
                                $("#message").empty();

                                $("#message").append(
                                    '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                    '<strong>Changed Project owner user was Successfully!</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div>')
                                //auto close alert  after 4 seconds.
                                $(".alert").delay(4000).slideUp(200, function () {
                                    $(this).alert('close');

                                })
                            },
                            error: function (xhr, errmsg, err) {
                                $("#message").empty();

                                $("#message").append(
                                    '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                    '<strong>Changed Project owner user was failed!</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div>')
                                //auto close alert  after 4 seconds.
                                $(".alert").delay(4000).slideUp(200, function () {
                                    $(this).alert('close');

                                })
                            }
                        });
                    }
                })
            })
        });


        // project button action
        $(function () {
            $('.dropdown-project').each(function () {


                $(this).find(".dropdown-item").each(function () {
                    $(this).click(function () {
                        var dtRow = $(this).closest('tr');
                        cls_array = (dtRow.attr("class").split(" "));

                        project_name = cls_array[0];

                        var action = $(this).text();

                        if (action == "Edit") {

                            location.href = "/project/modify_project/" + project_name

                        } else if (action == "Delete") {
                            if (confirm("Are you sure to delete this row?")) {

                                projectName = dtRow.find("td.project_name").text();


                                $.ajax({
                                    url: "/project/delete/" + projectName, // the endpoint,commonly same url
                                    type: 'DELETE',
                                    data: {
                                        csrfmiddlewaretoken: getCookie('csrftoken'),
                                    },

                                    success: function (json) {
                                        //remove the sub part number and   station item
                                        var compare_class = dtRow.attr("class").split(" ")[1].replace("treegrid-", "");
                                        $("#project_table").find("tbody tr").each(function () {
                                            tr_array = $(this).attr("class").split(" ");

                                            var tr_line = $(this);
                                            $.each(tr_array, function (i, v) {
                                                if (v.indexOf(compare_class) > 0) {
                                                    tr_line.remove()
                                                }
                                            })
                                        });

                                        //if didn't hava any project will show message
                                        if ($("#project_table tbody tr").length == 0) {
                                            $("#project_table tbody").append('<tr><td colspan="5"><div class="text-center"> No data available in table</div></td></tr>')
                                        }

                                    },

                                    //處理失敗時會做的動作
                                    error: function (xhr, errmsg, err) {
                                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                    }
                                });
                            }
                        }
                    })
                })
            })
        });


        // part number button action
        $(function () {
            $('.dropdown-partnumber').each(function () {


                $(this).find(".dropdown-item").each(function () {
                    $(this).click(function () {
                        var dtRow = $(this).closest('tr');

                        cls_array = (dtRow.attr("class").split(" "));

                        project_name = cls_array[0];
                        part_number = cls_array[1];
                        var action = $(this).text();

                        if (action == "Edit") {

                            location.href = "/project/modify_station/" + project_name + "/" + part_number;

                        } else if (action == "Delete") {

                            if (confirm("Are you sure to delete this row?")) {


                                if (part_number == "DEFAULT") {

                                    alert("'DEFAULT' can't be deleted!")

                                } else {
                                    $.ajax({
                                        url: "/project/pn_delete/", // the endpoint,commonly same url
                                        type: 'POST',
                                        data: {
                                            csrfmiddlewaretoken: getCookie("csrftoken"),
                                            "project_name": project_name,
                                            "part_number": part_number,
                                        },

                                        success: function (json) {
                                            //remove the sub station item
                                            var compare_class = dtRow.attr("class").split(" ")[2].replace("treegrid-", "");
                                            $("#project_table").find("tbody tr").each(function () {
                                                tr_array = $(this).attr("class").split(" ");

                                                var tr_line = $(this);
                                                $.each(tr_array, function (i, v) {
                                                    if (v.indexOf(compare_class) > 0) {
                                                        tr_line.remove()
                                                    }
                                                })
                                            });
                                        },

                                        //處理失敗時會做的動作
                                        error: function (xhr, errmsg, err) {
                                            console.log("part number not in database"); // provide a bit more info about the error to the console
                                        }
                                    });
                                }

                            }
                        }

                    })
                })


            })
        });

        // station  button action
        $(function () {
            $('.dropdown-station').each(function () {


                $(this).find(".dropdown-item").each(function () {
                    $(this).click(function () {
                        var dtRow = $(this).closest('tr');

                        cls_array = (dtRow.attr("class").split(" "));

                        project_name = cls_array[0];
                        part_number = cls_array[1];
                        station_name = cls_array[2];
                        var action = $(this).text();

                        if (action == "Edit") {

                            location.href = "/project/modify_script/" + project_name + "/" + part_number + "/" + station_name;

                        } else if (action == "Delete") {
                            if (confirm("Are you sure to delete this row?")) {


                                $.ajax({
                                    url: "/project/station_delete/", // the endpoint,commonly same url
                                    type: 'POST',
                                    data: {
                                        csrfmiddlewaretoken: getCookie("csrftoken"),
                                        "project_name": project_name,
                                        "part_number": part_number,
                                        "station_name": station_name
                                    },

                                    success: function (json) {
                                        dtRow.remove();
                                    },
                                    //處理失敗時會做的動作
                                    error: function (xhr, errmsg, err) {
                                        console.log("part number not in database"); // provide a bit more info about the error to the console
                                    }
                                });
                            }

                        } else if (action == "Download") {
                            location.href = "/project/download_script/" + project_name + "/" + part_number + "/" + station_name;
                        }
                    })
                })
            })
        });


        $(document).ready(function () {

            $('.tree').treegrid({});
            {#$('.tree').treegrid('collapseAll');#}


        });
    </script>
{% endblock %}
{% block body %}
    <h3>[ {{ username |title }} ] Project</h3>
    <br>



    <div id="message"></div>


    <table class="tree table  table-hover" id="project_table">
        <thead>
        <tr>
            <th    {% if request.user.is_staff %} width="20%"  {% else %} width="30%" {% endif %}>Project
                Structure
            </th>
            {% if request.user.is_staff %}
                <th>Onwer User</th>
            {% endif %}
            <th>Create Date</th>
            <th>Create Time</th>
            <th style="text-align: right">
                <div style="padding-right: 10%"> Action</div>
            </th>
        </tr>
        </thead>

        <tbody>


        {% if project_structure|length == 0 %}
            <tr>
                <td colspan="5">
                    <div class="text-center"> No data available in table</div>
                </td>
            </tr>

        {% else %}
            {% for prj in project_structure %}
                <tr class="{{ prj|lookup:"project_name" }} treegrid-{{ prj|lookup:"project_id" }} expanded">
                    <td class="project_name">{{ prj|lookup:"project_name" }}</td>
                    {% if request.user.is_staff %}
                        {#                        <td>{{ prj|lookup:"owner_user" }}</td>#}

                        <td>
                            <div class="input-group input-group-sm">
                                <select class=" selectpicker  show-tick owner-user "
                                        title="No User" data-width="50%">

                                    {% for u in user_list %}
                                        <option value="{{ u }}" {% if prj|lookup:"owner_user" == u %}
                                                selected {% endif %}>{{ u }}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn btn-sm btn-outline-primary change-user  " type="button"><i
                                        class="fas fa-user-check"></i></button>

                            </div>


                        </td>
                    {% endif %}
                    <td>
                        {{ prj|lookup:"date"|date:'Y-m-d' }}
                    </td>

                    <td>
                        {{ prj|lookup:"date"|date:'h:i A' }}
                    </td>
                    <td>
                        <div class="dropdown text-right">

                            <button class="btn btn-success dropdown-toggle" type="button"
                                    id="btnItemsDemo"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                Action

                            </button>

                            <div class="dropdown-menu dropdown-project" aria-labelledby="btnItemsDemo">

                                <button class="dropdown-item" type="button">Edit</button>

                                <button class="dropdown-item" type="button">Delete</button>

                            </div>

                        </div>


                    </td>
                </tr>


                {% for pn in prj|lookup:"pn_list" %}
                    <tr class="{{ prj|lookup:"project_name" }} {{ pn|lookup:"part_number" }} treegrid-{{ pn|lookup:"pn_id" }} treegrid-parent-{{ prj|lookup:"project_id" }}">

                        <td {% if request.user.is_staff %} colspan="4"{% else %}
                                                           colspan="3" {% endif %}>{{ pn|lookup:"part_number" }}</td>
                        <td>
                            <div class="dropdown text-right">

                                <button class="btn btn-success dropdown-toggle" type="button" id="btnItemsDemo"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    Action

                                </button>

                                <div class="dropdown-menu dropdown-partnumber" aria-labelledby="btnItemsDemo">

                                    <button class="dropdown-item" type="button">Edit</button>

                                    <button class="dropdown-item" type="button">Delete</button>


                                </div>

                            </div>

                        </td>
                    </tr>



                    {% for st in pn|lookup:"st_list" %}

                        <tr class="{{ prj|lookup:"project_name" }} {{ pn|lookup:"part_number" }} {{ st|lookup:"station_name" }} treegrid-parent-{{ pn|lookup:"pn_id" }}">


                            <td  {% if request.user.is_staff %} colspan="4"{% else %}
                                                                colspan="3"  {% endif %}>{{ st|lookup:"station_name" }}

                            </td>

                            <td>

                                <div class="dropdown text-right">

                                    <button class="btn btn-success dropdown-toggle" type="button" id="btnItemsDemo"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        Action

                                    </button>

                                    <div class="dropdown-menu dropdown-station" aria-labelledby="btnItemsDemo">

                                        <button class="dropdown-item" type="button">Edit</button>

                                        <button class="dropdown-item" type="button">Delete</button>


                                        {% if  st|lookup:"download" == False %}
                                             <button class="dropdown-item" type="button" disabled>Download</button>
                                        {% else %}
                                            <button class="dropdown-item" type="button">Download</button>
                                        {% endif %}
                                    </div>

                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

            {% endfor %}
        {% endif %}
        </tbody>
    </table>





{% endblock %}