{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">


    <script src={% static "bower_components/datatables.net/js/dataTables.select.min.js" %}></script>

    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
{% endblock %}



{% block css %}
    <style>

        .dataTables_filter, .dataTables_info {
            display: none;
        }

        h3 {
            text-align: center;
        }


    </style>
{% endblock %}



{% block js %}


    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(function () {
            $('#project_table tbody .dt-edit').each(function () {
                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    project_name = editRow.attr("id");
                    console.log(project_name)
                    location.href = "/project/modify/" + project_name;
                });
            });
        });


        $(function () {

            $('#project_table tbody .dt-delete').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.parents('tr');

                    if (confirm("Are you sure to delete this row?")) {

                        projectName = dtRow.attr("id");

                        console.log(projectName)

                        var csrftoken = getCookie('csrftoken');

                        $.ajax({
                            url: "/project/delete/" + projectName, // the endpoint,commonly same url
                            type: 'DELETE',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },

                            success: function (json) {
                                console.log(json); // another sanity check

                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });


                        var table = $('#project_table').DataTable();
                        table.row(dtRow).remove().draw(false);
                    }
                });


            });


            $('#task-table tbody .dt-edit').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    taskID = editRow.attr("id");

                    location.href = "/testCase/modify/" + taskID;
                });
            });


        });


        $(document).ready(function () {
            var t = $('#project_table').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "autoWidth": true,
                "scrollX": true,

                {% if datas.count <= 10 %}
                    "bPaginate": false,
                {% endif %}
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0,
                        "width": "1%",
                    },

                    {% if request.user.is_staff %}
                        {
                            "targets": 5,
                            "width": "10%",
                        },
                    {% else %}

                        {
                            "targets": 4,
                            "width": "10%",
                        }

                    {% endif %}],
                "order": [[1, 'asc']]
            });


            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();


        });
    </script>
{% endblock %}
{% block body %}
    <p style="text-align: center;font-weight:600;font-size: 26px;">[ {{ username |title }} ] Project</p>
    <br>
    <table id="project_table" class="hover" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Project Name</th>
            {% if request.user.is_staff %}
                <th>Onwer User</th>
            {% endif %}
            <th>Create Date</th>
            <th>Create Time</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for data in datas %}
            <tr id="{{ data.project_name }}">
                <td style="text-align: center"></td>
                <td>{{ data.project_name }}</td>
                {% if request.user.is_staff %}
                    <td>{{ data.owner_user }}</td>
                {% endif %}
                <td>
                    {{ data.time|date:'Y-m-d' }}
                </td>

                <td>
                    {{ data.time|date:'h:i A' }}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button"
                                class=" btn btn-outline-danger btn-xs   btn-md center-block dt-delete"><i
                                class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>

            </tr>

        {% endfor %}


        </tbody>


    </table>


{% endblock %}