{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}



{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css" %}">
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/language/en_US.js" %}"></script>


{% endblock %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .help-block {
            color: #a94442;
        }

        .form-group.has-error.has-danger .form-control-label {
            color: #a94442;
        }

        .form-group.has-error.has-danger .form-control {
            border: 1px solid #a94442;
            box-shadow: #a94442;
        }

        .has-success .form-control {
            border-color: #3c763d;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }

        .form-control-feedback {

            top: 25px;
            right: 0;
            z-index: 2;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
        }

        .has-error .form-control-feedback {
            color: #a94442;
        }

        .has-success .form-control-feedback {
            color: #3c763d;
        }

    </style>
{% endblock %}

{% block js %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function table_clone() {
            return '<tr>' +
                '<td class="pn_input">' +
                '<div class="form-group">' +
                '<div class="input-group ">' +
                '<input type="text" name="part_number" class="form-control" maxlength="255" required id="id_part_number">' +
                '<div class="input-group-append">' +
                '<button class="btn btn-outline-danger specific-pn-remove" type="button"><i\n' +
                'class="fas fa-trash"></i></button>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</td>' +
                '</tr>'
        }


        $(function () {


            $(document).on("click", ".specific-pn-remove", function () {

                var remove_tr = $(this).closest('tr');
                var part_number = remove_tr.find("input[name='part_number']").val();
                var project_name = $('input[name="project_name"]').val();

                if (part_number != "") {
                    if (confirm("Are you sure to delete this row?")) {

                        if (part_number == "DEFAULT") {
                            alert("'DEFAULT' can't be deleted!")
                        } else {

                            $.ajax({
                                url: "/project/pn_delete/", // the endpoint,commonly same url
                                type: 'POST',
                                data: {
                                    csrfmiddlewaretoken: getCookie("csrftoken"),
                                    "project_name": project_name,
                                    "part_number": part_number,
                                },

                                success: function (json) {
                                    remove_tr.find('input').each(function () {
                                        $('#create_project').bootstrapValidator('removeField', $(this));
                                    });
                                    remove_tr.remove();
                                    $("#save_btn").removeAttr('disabled');

                                },

                                error: function (xhr, errmsg, err) {
                                    console.log("part number not in database");
                                    remove_tr.remove()// provide a bit more info about the error to the console
                                     $("#save_btn").removeAttr('disabled');
                                }
                            });
                        }


                    }
                } else {
                    remove_tr.find('input').each(function () {
                        $('#create_project').bootstrapValidator('removeField', $(this));
                    });
                    remove_tr.remove();
                    $("#save_btn").removeAttr('disabled');
                }


            });

        });

        $(document).ready(function () {



            //auto close alert  after 4 seconds.
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });


            //set the post value to form
            {% if datas  %}
                var saved_pn = {{ datas|lookup:"part_number" |safe}};

                post_count = saved_pn.length;

                defualt_input_count = $("#part-number-table").find("input[name='part_number']").length


                //ignore default input
                if (post_count > defualt_input_count) {
                    for (i = defualt_input_count; i < post_count; i++) {
                        $("#part-number-table tbody").append(table_clone());
                    }

                    //set value for new input
                    $("#part-number-table tbody tr").each(function () {
                        if ($(this).index() >= defualt_input_count) {
                            $(this).find("input[name='part_number']").val(saved_pn[($(this).index())])
                        }
                    })
                };

                $('input[name="project_name"]').val({{ datas|lookup:"project_name"|safe}});

            {% endif %}

            $("#add_pratnumber").click(function () {
                var clone_html = table_clone();
                $("#part-number-table tbody").append(clone_html);

                var lastRow = $("#part-number-table tbody tr").last();

                lastRow.find('input').each(function () {
                    $('#create_project').bootstrapValidator('addField', $(this));
                });


            });

            $("#remove_pratnumber").click(function () {
                rowCount = $("#part-number-table tbody tr").length;
                if (rowCount > 1) {
                    var remove_tr = $("#part-number-table tbody tr").last();
                    var part_number = remove_tr.find("input[name='part_number']").val();
                    if (part_number != "") {
                        if (confirm("Are you sure to delete this row?")) {

                            var project_name = $('input[name="project_name"]').val();
                            var csrftoken = getCookie('csrftoken');


                            if (part_number == "DEFAULT") {
                                alert("'DEFAULT' can't be deleted!")
                            } else {
                                $.ajax({
                                    url: "/project/pn_delete/", // the endpoint,commonly same url
                                    type: 'POST',
                                    data: {
                                        csrfmiddlewaretoken: csrftoken,
                                        "project_name": project_name,
                                        "part_number": part_number,
                                    },

                                    success: function (json) {
                                        remove_tr.find('input').each(function () {
                                            $('#create_project').bootstrapValidator('removeField', $(this));
                                        });
                                        remove_tr.remove();
                                        $("#save_btn").removeAttr('disabled');

                                    },
                                    error: function (xhr, errmsg, err) {
                                        console.log("part number not in database");
                                        remove_tr.remove();
                                         $("#save_btn").removeAttr('disabled');

                                    }
                                });
                            }

                        }
                    } else {
                        remove_tr.find('input').each(function () {
                            $('#create_project').bootstrapValidator('removeField', $(this));
                        });
                        remove_tr.remove();
                        $("#save_btn").removeAttr('disabled');

                    }
                }
            });

            {% if datas and c.errors|trans_not  and errors|trans_not%}
                $("#part-number-table tbody tr").each(function () {
                    $(this).find('div.input-group').append(
                        '<div class="input-group-append">' +
                        '<button class="btn btn-outline-primary set-station" type="button">' +
                        '<i class="fas fa-share"></i></button></div>')


                });



                $(".set-station").click(function () {
                    var project_name = "{{ project_name }}";
                    var part_number = ($(this).closest("div.input-group").find('input').val());
                    location.href = "/project/modify_station/" + project_name + "/" + part_number;
                });

            {% endif %}





            $("#create_project").bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'fas fa-check',
                    invalid: 'none',
                    validating: 'fas fa-sync-alt'
                },
                fields: {
                    project_name: {
                        message: 'The project name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The project name cannot be empty.'
                            },
                            regexp: {
                                regexp: /^\w{7}$/,
                                message: 'The project name must contains 7 characters.'
                            },
                            callback: {
                                message: 'The project number can not be repreated.',
                                callback: function (value, validator, $field) {
                                    if (value == '{{ project_name }}') {
                                        return true
                                    } else {
                                        var result = null;
                                        $.ajax({
                                            type: "GET",
                                            url: "/project/valid_project_name",
                                            async: false,
                                            data: {
                                                project_name: value,
                                            },
                                            success: function (data, status) {
                                                result = data

                                            }
                                        });
                                    }
                                    return result.valid;
                                }
                            }

                        }
                    },

                    part_number: {
                        message: 'The part number is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The part number cannot be empty.'
                            },
                            regexp: {
                                regexp: /^\w+$/,
                                message: 'The part number is incorrect.'
                            },
                            callback: {
                                message: 'The part number can not be repreated.',
                                callback: function (value, validator, $field) {
                                    var arg_array = [];
                                    $("input[name='part_number']").each(function () {
                                        arg_value = $(this).val();
                                        arg_array.push(arg_value);
                                    });

                                    var count = 0;
                                    for (var i = 0; i < arg_array.length; i++) {
                                        count += (arg_array[i] == value);
                                    }

                                    if (count > 1) {
                                        return false
                                    } else {
                                        return true
                                    }

                                }
                            }

                        }
                    },
                }
            });


        });


    </script>

{% endblock %}





{% block body %}
    <h3>Modify Project</h3>
    <br>
    {% if c.errors %}

        {% for field in c %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ errors }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}


    {% if susessful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ susessful }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}

    <form id="create_project" enctype="multipart/form-data" method="post" action="">{% csrf_token %}


        <div class="form-group row">

            <label class="col-sm-3 col-form-label" for="test_case_name">Project Name</label>

            <div class="col-sm-9">
                <input type="text" name="project_name" class="form-control" maxlength="255" required=""
                       id="id_project_name" value="{{ project_name }}">
            </div>
        </div>


        <div class="text-right">

            <button class="btn btn btn-outline-success" type="button" id="add_pratnumber">
                Add
            </button>

            <button class="btn btn btn-outline-danger" type="button" id="remove_pratnumber">
                Delete
            </button>


        </div>

        <table class="table table-bordered" id="part-number-table">
            <thead>
            <tr>
                <th scope="col">Part Number</th>

            </tr>
            </thead>
            <tbody>

            {% if datas and save_post %}

            {% else %}
                {% for pn in pn_list %}
                    <tr>
                        <td class="pn_input">
                            {% if pn.part_number == "DEFAULT" %}
                                <div class="form-group">
                                    <div class="input-group ">
                                        <input type="text" name="part_number" class="form-control" maxlength="255"
                                               required=""
                                               id="id_part_number" readonly="readonly" value="{{ pn.part_number }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="input-group ">
                                        <input type="text" name="part_number" class="form-control" maxlength="255"
                                               required=""
                                               id="id_part_number" value="{{ pn.part_number }}">

                                        <div class="input-group-append">
                                            <button class="btn btn-outline-danger specific-pn-remove" type="button"><i
                                                    class="fas fa-trash"></i>
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>


        <div class=text-center>
            <button class="btn btn-outline-primary" type="submit" id="save_btn"><i class="fas fa-save"></i> Save</button>
        </div>


    </form>


{% endblock %}