{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">

{% endblock %}


{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        input[type="text"].station_name,
        select.form-control {

            width: 350px;
        }

        input[type="text"].station_name:focus,
        select.form-control:focus {

            width: 350px;
        }
    </style>
{% endblock %}


{% block js %}
    <script>

        var project_name = '{{ project_name|escapejs }}';

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function table_clone() {
            return '                <tr>' +
                '                    <td colspan="3">\n' +
                '                        <div class="input-group mb-3">\n' +
                '                        <div style="margin-left: 10%"><input type="text" name="{{ part_number }}"' +
                '                                                                 class="form-control station_name"' +
                '                                                                 placeholder="Set station name" maxlength="255"' +
                '                                                                 required="" id="id_station_name"> </div>' +
                '                                <div class="input-group-append">\n' +
                '                                    <button class="btn btn-outline-danger specific-st-remove" type="button"><i\n' +
                '                                            class="fas fa-trash"></i>\n' +
                '                                    </button>\n' +
                '                                </div>' +
                '                    </td>\n' +
                '                </tr>'
        }


        $(function () {
            $(document).on("click", ".specific-st-remove", function () {

                var project_name = '{{ project_name|escapejs }}';
                var part_number = '{{ part_number|escapejs }}';
                var remove_tr = $(this).closest('tr');
                var station_name = remove_tr.find('input[name="{{ part_number }}"]').val()

                if (confirm("Are you sure to delete this row?")) {
                    $.ajax({
                        url: "/project/station_delete/", // the endpoint,commonly same url
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: getCookie("csrftoken"),
                            "project_name": project_name,
                            "part_number": part_number,
                            "station_name": station_name
                        },

                        success: function (json) {

                            remove_tr.remove();


                        },
                        //處理失敗時會做的動作
                        error: function (xhr, errmsg, err) {
                            console.log("part number not in database");
                            remove_tr.remove();// provide a bit more info about the error to the console
                        }
                    });
                }

            });

        });

        $(document).ready(function () {

            //auto close alert  after 4 seconds.
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });


            //if had datas means posted ,even the result current ,will set the post value to all station input
            {% if datas %}
                    var row = {{ datas|lookup:part_number|safe}}
                    var rowCount = row.length;
                    if (rowCount > 1) {
                        for (i = 1; i <= rowCount; i++) {
                            $("#part-table tbody.{{ part_number }}").append(table_clone())
                        }
                    }
                    $("#part-table tbody.{{ part_number }}").each(function () {

                        var values = row;

                        $(this).find("input[name='{{ part_number }}']").each(function (i) {
                            $(this).val(values[i])

                        })

                    });


            {% endif %}





            $("#part-table tbody").find(".st-add").each(function () {
                $(this).click(function (e) {
                    e.stopPropagation();
                    var part_number = ($(this).closest("tr").find(".part_number_col").text());
                    var append_target = $($(this).closest("tr").attr("data-target"));


                    $(append_target).append(table_clone(part_number))
                })
            });


            $("#part-table tbody").find(".st-remove").each(function () {
                $(this).click(function (e) {

                    e.stopPropagation();
                    var append_target = $($(this).closest("tr").attr("data-target"));


                    var rowCount = append_target.find('input').length;
                    var remove_tr = append_target.find('tr').last();


                    if (rowCount > 1) {


                        var last_tr_station = remove_tr.find('input').val();
                        var part_number = (remove_tr.closest("tbody").attr("class").split(" ")[2]);

                        if (last_tr_station != "") {
                            if (confirm("Are you sure to delete this row?")) {
                                $.ajax({
                                    url: "/project/station_delete/", // the endpoint,commonly same url
                                    type: 'POST',
                                    data: {
                                        csrfmiddlewaretoken: getCookie("csrftoken"),
                                        "project_name": project_name,
                                        "part_number": part_number,
                                        "station_name": last_tr_station
                                    },

                                    success: function (json) {

                                        remove_tr.remove()
                                    },

                                    //處理失敗時會做的動作
                                    error: function (xhr, errmsg, err) {
                                        console.log("part number not in database");
                                        remove_tr.remove()// provide a bit more info about the error to the console
                                    }
                                });
                            }

                        } else {
                            remove_tr.remove()
                        }

                    }

                })
            });


        });
    </script>
{% endblock %}}
{% block body %}
    <h3>Modify [ {{ part_number }} ] station name </h3>
    <br>
    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ errors }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}

    {% if susessful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ susessful }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}


    <form id="set_station_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <table class="table  table-hover" id="part-table">
            <thead>
            <tr>
                <th style="width: 10%;text-align: center">Stations</th>
                <th>PartNumber</th>
                <th style="width:20%;text-align: center">Add/Del Station Name</th>
            </tr>
            </thead>


            <tbody>
            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-0"
                aria-expanded="false"
                aria-controls="group-of-rows-1">
                <td style="text-align: center"><i class="fa fa-plus" aria-hidden="true"></i></td>
                <td class="part_number_col">{{ pn_instance.part_number }}</td>
                <td>
                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-outline-success btn-xs  btn-md center-block st-add">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button"
                                    class=" btn btn-outline-danger btn-xs   btn-md center-block st-remove"><i
                                    class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>

            <tbody id="group-of-rows-0" class="collapse show {{ pn_instance.part_number }}">

            {% if datas %}

            {% else %}
                {% for st in st_list %}
                    <tr>
                        <td colspan="3">
                            <div class="input-group mb-3">

                                <div style="margin-left: 10%"><input type="text" name="{{ pn_instance.part_number }}"
                                                                     class="form-control station_name"
                                                                     placeholder="Set station name" maxlength="255"
                                                                     required="" id="id_station_name"
                                                                     value="{{ st.station_name }}"></div>


                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger specific-st-remove" type="button"><i
                                            class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>

                    </tr>
                {% endfor %}

            {% endif %}

            </tbody>


        </table>

        <div class=text-center>
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-save"></i> Save</button>
        </div>


    </form>


{% endblock %}