{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/language/en_US.js" %}"></script>
    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>
    <script src={% static "js/station.js" %}></script>

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css" %}">

{% endblock %}


{% block css %}
    <style>
        input[type="text"].station_name,
        select.form-control {

            width: 350px;
        }

        input[type="text"].station_name:focus,
        select.form-control:focus {

            width: 350px;
        }


    </style>
{% endblock %}


{% block js %}
    <script>


        $(function () {

            $(document).on("click", ".specific-st-remove", function () {

                var project_name = '{{ project_name|escapejs }}';
                var part_number = '{{ part_number|escapejs }}';

                var rowCount = $("#part-table tbody").find('select').length;
                var remove_tr = $(this).closest('tr');
                var station_name = remove_tr.find('select[name="{{ part_number }}"]').val();

                if (rowCount > 1) {
                    ajax_del_station(project_name, part_number, station_name, remove_tr)
                } else {
                    alert("You must provide at least one station name!")
                }

            });

        });
        $(document).ready(function () {
            //auto close alert  after 4 seconds.
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');

            });

            //if had datas means posted ,even the result current ,will set the post value to all station input
            {% if datas %}

                {% for pn in datas|lookup:"all_pn" %}
                    var row = {{ datas|lookup:pn |safe}}
                    var rowCount = row.length;
                    if (rowCount > 1) {
                        <!--default had one empty part_number dropdown-->
                        for (i = 2; i <= rowCount; i++) {
                            $("#part-table tbody.{{ pn }}").append(station_table_clone('{{pn}}', i))
                        }
                    }

                    $("#part-table tbody.{{ pn }}").each(function () {
                        var values = {{  datas|lookup:pn|safe }}

                            $(this).find("select[name='{{ pn }}']").each(function (i) {
                                $(this).val(values[i])

                            })

                    });
                {% endfor %}
            {% endif %}

            <!--add next page button-->
            {% if datas and errors|trans_not %}
                console.log("ininin")
                $("#part-table tbody tr").find('div.input-group').append('<div class="input-group-append"><button type="button" class="btn btn-outline-primary select-script"><i class="fas fa-share"></i></button><button type="button" class="btn btn-outline-success upload-script"><i class="fas fa-file-upload"></i></button> <input type="file" class="file_upload" accept=".ini" style="display: none"></div>');


                $(".select-script").click(function () {
                    var project_name = '{{ project_name }}';
                    var part_number = ($(this).closest("tbody").attr("class").split(" ")[2]);
                    var station_name = $(this).closest('tr').find("select").val();
                    location.href = '/project/select_script/' + project_name + '/' + part_number + '/' + station_name;
                });


                $("button.upload-script").click(function () {
                    var project_name = '{{ project_name }}';
                    var part_number = ($(this).closest("tbody").attr("class").split(" ")[2]);
                    var station_name = $(this).closest('tr').find("select").val();

                    {#location.href = '/project/upload_script/' + project_name + '/' + part_number + '/' + station_name;#}
                    var input_upload = $(this).next(".file_upload");
                    input_upload.click()


                    $(".file_upload").change(function () {
                        var form_data = new FormData();
                        var file_element = $(this);
                        var parent_element = $(this).closest(".input-group-append");
                        var file_data = file_element.prop('files')[0];
                        form_data.append('project_name', project_name);
                        form_data.append('part_number', part_number);
                        form_data.append('station_name', station_name);
                        form_data.append('csrfmiddlewaretoken', getCookie('csrftoken'));


                        form_data.append('file', file_data);

                        $.ajax({
                            url: "{% url "upload_script" %}",
                            type: 'POST',
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: form_data,
                            success: function (json) {
                                $("#ajax_message").empty();

                                $("#ajax_message").append(
                                    '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                    '<strong>The testScript had been created!</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div>')


                                //auto close alert  after 4 seconds.
                                $(".alert").delay(4000).slideUp(200, function () {
                                    $(this).alert('close');
                                });

                                {#parent_element.find(".select-script").attr("disabled","disabled")#}

                            },

                            error: function (xhr, errmsg, err) {

                                var json = $.parseJSON(xhr.responseText);

                                if (json.valid == false) {
                                    $("#ajax_message").empty();
                                    var error_messages = json.message;
                                    $("#ajax_message").append(
                                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                        '<strong>' + error_messages + '</strong>' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                        '</button>' +
                                        '</div>');


                                    //auto close alert  after 4 seconds.
                                    $(".alert").delay(4000).slideUp(200, function () {
                                        $(this).alert('close');

                                    });

                                    file_element.val("")
                                }

                            }
                        });
                    })


                });


            {% endif %}

            $("#set_station_form").bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'fas fa-check',
                    invalid: 'none',
                    validating: 'fas fa-sync-alt'
                },
                fields: {
                    {% for pn in pn_instances %}
                        "{{ pn.part_number }}": {
                            validators: {
                                notEmpty: {
                                    message: 'The station name cannot be empty.'
                                },
                                regexp: {
                                    regexp: /^\w+$/,
                                    message:
                                        'The station name is incorrect.'
                                },
                                callback: {
                                    message: 'The station name can not be repreated.',
                                    callback:
                                        function (value, validator, $field) {
                                            var station_array = [];
                                            $("select[name='{{ pn.part_number }}']").each(function () {
                                                station_value = $(this).val();

                                                if (station_value != "") {
                                                    station_array.push(station_value);
                                                }
                                            });
                                            var count = 0;
                                            for (var i = 0; i < station_array.length; i++) {
                                                count += (station_array[i] == value);
                                            }

                                            if (count > 1) {
                                                return false
                                            } else {
                                                return true
                                            }
                                        }
                                }
                            }
                        },
                    {% endfor %}
                }
            });


            $("#part-table tbody").find(".st-add").each(function () {
                $(this).click(function (e) {
                    e.stopPropagation();
                    var part_number = ($(this).closest("tr").find(".part_number_col").text());
                    var append_target = $($(this).closest("tr").attr("data-target"));
                    <!--set station_<index>-->
                    var index = $("select").length + 1;
                    append_target.append(station_table_clone(part_number, index));
                    $('.add_dropdwon').selectpicker();
                    var add_input = ($('select[name="' + part_number + '"]').last());
                    $('#set_station_form').bootstrapValidator('addField', add_input);
                    $("#save_btn").attr('disabled', 'disabled');
                })
            });


            $("#part-table tbody").find(".st-remove").each(function () {
                $(this).click(function (e) {
                    e.stopPropagation();
                    var project_name = '{{ project_name|escapejs }}';
                    var append_target = $($(this).closest("tr").attr("data-target"));
                    var rowCount = append_target.find('select').length;
                    var remove_tr = append_target.find('tr').last();

                    if (rowCount > 1) {
                        var station_name = remove_tr.find('select').val();
                        var part_number = (remove_tr.closest("tbody").attr("class").split(" ")[2]);
                        ajax_del_station(project_name, part_number, station_name, remove_tr)
                    } else {
                        alert("You must provide at least one station name!")
                    }
                })
            });


        });
    </script>
{% endblock %}}
{% block body %}
    <h3>Create [ {{ project_name }} ]</h3>
    <br>

    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ errors }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}

    {% if susessful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ susessful }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}

    <div id="ajax_message"></div>


    <form id="set_station_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <table class="table  table-hover" id="part-table">
            <thead>
            <tr>
                <th style="width: 10%;text-align: center">Stations</th>
                <th>PartNumber</th>
                <th style="width:20%;text-align: center">Add/Del Station Name</th>
            </tr>
            </thead>

            {% for pn in pn_instances %}
                <tbody>
                <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-{{ forloop.counter }}"
                    aria-expanded="false"
                    aria-controls="group-of-rows-1">
                    <td style="text-align: center"><i class="fa fa-plus" aria-hidden="true"></i></td>
                    <td class="part_number_col">{{ pn.part_number }}</td>
                    <td>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-outline-success btn-xs  btn-md center-block st-add">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button"
                                        class=" btn btn-outline-danger btn-xs   btn-md center-block st-remove"><i
                                        class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </td>

                </tr>
                </tbody>

                <tbody id="group-of-rows-{{ forloop.counter }}" class="collapse show {{ pn.part_number }}">
                <tr>
                    <td colspan="3">
                        <div class="form-group">
                            <div class="input-group mb-3">

                                <div style="margin-left: 10%">


                                    <select name="{{ pn.part_number }}" id="station_{{ forloop.counter }}"
                                            class="stations form-control"
                                            data-live-search="true" title="Nothing selected">
                                        <option value="PCBA_FT1">PCBA_FT1</option>
                                        <option value="PCBA_FT2">PCBA_FT2</option>
                                        <option value="PCBA_FT3">PCBA_FT3</option>
                                        <option value="PCBA_FT4">PCBA_FT4</option>
                                        <option value="PCBA_FT5">PCBA_FT5</option>
                                        <option value="PCBA_FT6">PCBA_FT6</option>
                                        <option data-divider="true"></option>
                                        <option value="ASSY_PCBA_FT1">ASSY_PCBA_FT1</option>
                                        <option value="ASSY_PCBA_FT2">ASSY_PCBA_FT2</option>
                                        <option value="ASSY_PCBA_FT3">ASSY_PCBA_FT3</option>
                                        <option value="ASSY_PCBA_FT4">ASSY_PCBA_FT4</option>
                                        <option value="ASSY_PCBA_FT5">ASSY_PCBA_FT5</option>
                                        <option value="ASSY_PCBA_FT6">ASSY_PCBA_FT6</option>
                                        <option data-divider="true"></option>
                                        <option value="ASSY_FT1">ASSY_FT1</option>
                                        <option value="ASSY_FT2">ASSY_FT2</option>
                                        <option value="ASSY_FT3">ASSY_FT3</option>
                                        <option value="ASSY_FT4">ASSY_FT4</option>
                                        <option value="ASSY_FT5">ASSY_FT5</option>
                                        <option value="ASSY_FT6">ASSY_FT6</option>
                                        <option data-divider="true"></option>
                                        <option value="ASSY_OBA_FT1">ASSY_OBA_FT1</option>
                                        <option value="ASSY_OBA_FT2">ASSY_OBA_FT2</option>
                                        <option value="ASSY_OBA_FT3">ASSY_OBA_FT3</option>
                                        <option value="ASSY_OBA_FT4">ASSY_OBA_FT4</option>
                                        <option value="ASSY_OBA_FT5">ASSY_OBA_FT5</option>
                                        <option value="ASSY_OBA_FT6">ASSY_OBA_FT6</option>
                                        <option data-divider="true"></option>
                                    </select></div>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger specific-st-remove" type="button"><i
                                            class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            {% endfor %}
        </table>

        <div class=text-center>
            <button class="btn btn-outline-primary" type="submit" id="save_btn"><i class="fas fa-save"></i> Save
            </button>
        </div>


    </form>


{% endblock %}