{% extends "base.html" %}
{% load staticfiles %}
{% load  filter %}



{% block css %}
    <style>

        .dataTables_filter, .dataTables_info {
            display: none;
        }


        tbody tr:last-child {
            border-bottom: 1px solid #dee2e6;
        }

        .table tbody tr td {
            vertical-align: middle;
        }

    </style>
{% endblock %}


{% block body %}
    <h3 style="margin-bottom: 2%">[ {{ project_name }} ] Upload Log</h3>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Upload User</th>
        </tr>
        </thead>
        <tbody>

        {% for instance in instances %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{instance.time |date:'Y-m-d h:i A'}}</td>
            <td>{{instance.upload_user}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}