{% extends "base.html" %}
{% load staticfiles %}}
{% load filter %}
{% block css %}
    <style>


        h3 {
            text-align: center;
        }


    </style>
{% endblock %}



{% block js %}
    <script>


        {#display the upload file name#}
        $(function () {
            $('#zip_file').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });


            $('#attachment_file').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });
        });


        $(document).ready(function () {

            //auto close alert  after 4 seconds.
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });


            var new_row = '<tr>' +
                '<td><input type="text" name="argument" class="form-control" maxlength="255" required="" id="id_argument"></td>' +
                '<td><input type="text" name="default_value" class="form-control" maxlength="255" required="" id="id_default_value"></td>' +
                '<td><input type="text" name="description" class="form-control" maxlength="255" required="" id="id_description"></td>' +
                ' </tr>';

            var max_fields = 19;
            var rowCount = 0;

            {% if datas %}
                var args = {{ datas|lookup:'argument'|safe }};
                var values = {{ datas|lookup:'default_value'|safe }};
                var descript = {{ datas|lookup:'description'|safe }};

                rowCount = args.length;

                if (rowCount > 1) {
                    for (i = 2; i <= rowCount; i++) {
                        $("#task-table tbody").append(new_row)
                    }
                }

                $("#task-table tbody tr").each(function () {
                    $(this).find("input[name='argument']").val(args[($(this).index())]);
                    $(this).find("input[name='default_value']").val(values[($(this).index())]);
                    $(this).find("input[name='description']").val(descript[($(this).index())]);
                });



            {% else %}
                rowCount = $("#argument_info input[name='argument']").length;
            {% endif %}



            $("#add_argument").click(function () {

                if (rowCount < max_fields) {
                    $("#task-table tbody").append(new_row);
                    rowCount += 1;

                }
                else {
                    alert("Max argument is 20!")
                }
            });

            $("#remove_argument").click(function (e) {
                var lastRow = $("#task-table tbody tr").last();
                {# orginal argument colume cant be remove#}
                if ($("#task-table  tbody tr").length > 1) {

                    if (lastRow.closest("tr").find('input[name="argument"]').val() != "") {
                        if (confirm("Are you sure to remove this row?")) {
                            lastRow.remove();
                            rowCount -= 1;
                        }
                    }else{
                        lastRow.remove();
                        rowCount -= 1;
                    }
                }else{
                    alert("Your must provide one argument!")
                }
            });


        });

    </script>
{% endblock %}


{% block body %}

    <h3>Create TestCase</h3>

    {#    <div id="alert_placeholder"></div>#}

    {% if u.errors %}
        {% for field in u %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}



    {% if a.errors %}
        {% for field in a %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% if susessful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ susessful }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}



    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error_message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <br>
    <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="id" class="col-sm-4 col-form-label">ID</label>
                    <div class="col-sm-8">
                        {{ u.task_id }}
                    </div>
                </div>

            </div>


            <div class="col-md-7">
                <div class="form-group row">
                    <label for="test_case_name" class="col-sm-3 col-form-label">TestCase Name</label>

                    <div class="col-sm-9">
                        {{ u.task_name }}
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">


                    <label for="script" class="col-sm-4 col-form-label">Script Name</label>

                    <div class="col-sm-8">{{ u.script_name }}</div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group row">
                    <label for="sample" class="col-sm-3 col-form-label">Sample

                    </label>
                    <div class="col-sm-9"> {{ u.sample }}</div>

                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col">
                <label for="descript">TestCase Description</label>{{ u.task_description }}
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="custom-file">
                        {{ u.attachment }}
                        <label class="custom-file-label" for="attachment_file">Please Upload attachment</label>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <div class="custom-file">
                        {{ u.file }}
                        <label class="custom-file-label" for="zip_file">Please Upload TestScript zip file</label>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="text-right">

            <button class="btn btn btn-outline-success" type="button" id="add_argument">
                New
            </button>

            <button class="btn btn btn-outline-danger" type="button" id="remove_argument">
                Delete
            </button>


        </div>


        <table class="table table-bordered" id="task-table">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">Argument</th>
                <th scope="col" style="width: 20%;text-align: center">Default Value</th>
                <th scope="col" style="width: 60%;text-align: center">Description</th>

            </tr>
            </thead>
            <tbody>
            <tr>

                <td> {{ a.argument }}</td>
                <td>{{ a.default_value }}</td>
                <td>{{ a.description }}</td>
            </tr>


            </tbody>
        </table>


        <br>

        <div class="text-center">


            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-share"></i> Submit</button>

        </div>


    </form>

{% endblock %}