{% extends "base.html" %}
{% load staticfiles %}}
{% load filter %}



{% block head %}

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css" %}">

    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/blueimp-file-upload/js/jquery.fileupload.js" %}"></script>

    <script src="{% static "bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrapvalidator/dist/js/language/en_US.js" %}"></script>

{% endblock %}



{% block js %}
    <script>
        function clean_message() {
            $("#message").empty();
            $("#error_message").html("");

        }

        {#display the upload file name#}
        $(function () {
            $('#zip_file').on('change', function () {

                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).closest('.custom-file').find('.custom-file-label').html(fileName);
            });

            $('#attachment_file').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });
        });


        function close_input_condition(value) {
            vailder = true;
            input = false;

            if (value) {
                vailder = false;
                input = true;

                $(".hide-group").each(function () {
                    $(this).hide()
                })
            } else {
                $(".hide-group").each(function () {
                    $(this).show()
                })
            }


            $('#upload-form').bootstrapValidator('enableFieldValidators',
                'file', vailder, 'notEmpty');

            $('#upload-form').bootstrapValidator('enableFieldValidators',
                'script_name', vailder, 'notEmpty');

            $('#upload-form').bootstrapValidator('enableFieldValidators',
                'argument', vailder, 'notEmpty');
            $('#upload-form').bootstrapValidator('enableFieldValidators',
                'default_value', vailder, 'notEmpty');

            $('#upload-form').bootstrapValidator('enableFieldValidators',
                'arg_description', vailder, 'notEmpty');


            $("#add_argument").attr("disabled", input);
            $("#remove_argument").attr("disabled", input);


            $('input[name="script_name"]').attr('disabled', input);
            $('input[name="sample"]').attr('disabled', input);
            $('input[name="argument"]').attr('disabled', input);
            $('input[name="default_value"]').attr('disabled', input);
            $('input[name="arg_description"]').attr('disabled', input);


        }

        $(document).ready(function () {
            var m = $('#modal-progress');
            var filesList = [],
                paramNames = [],
                elem = $("#upload-form");

            /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
            file_upload = elem.fileupload({
                dataType: 'json',
                singleFileUploads: false,
                autoUpload: false,
                sequentialUploads: true,
                url: "{% url "testCase_upload" %}",


                start: function (e) {
                    m.modal('show')
                },
                stop: function (e) {
                    //if small file will not close modal ,you should set the timeout
                    setTimeout(function () {
                        m.modal('hide')
                    }, 1000)
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    var strProgress = progress + "%";

                    $(".progress-bar").css({"width": strProgress});
                    $(".progress-bar").text(strProgress);

                },
                done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
                    var json = $.parseJSON(data.jqXHR.responseText);
                    if (json.is_valid) {
                        location.href = "/testCase/modify/" + json.task_id + "/" + json.message
                    }
                },
                fail: function (e, data) {
                    var json = $.parseJSON(data.jqXHR.responseText);
                    if (json.is_valid == false) {

                        clean_message();

                        var error_messages = "";
                        $.each(json.error, function (index, value) {
                            error_messages += value + "<br>";
                        });

                        $("#error_message").append(error_messages);
                        $("#error-dialog").modal('show');
                    }

                },
            }).on("fileuploadadd", function (e, data) {
                filesList.push(data.files[0]);
                paramNames.push(e.delegatedEvent.target.name);
            });


            //if click save button will check all data is valid.
            $("#upload_btn").click(function (e) {
                $('#upload-form').bootstrapValidator('validate');
                if ($("#upload-form").data('bootstrapValidator').isValid()) {

                    var task_id = $("input[name='task_id']").val();
                    //if is interactive testCase disable some limit
                    if (task_id.length == 4 && task_id[1] == "6") {

                        data = $("#upload-form").serialize() + "&interactive=True";

                        $.ajax({
                            type: "POST",
                            url: "{% url "testCase_upload" %}",
                            data: data, // serializes the form's elements.
                            success: function (data) {

                                location.href = "/testCase/modify/" + data.task_id + "/" + data.message

                            },

                            error: function (data) {
                                $("#message").empty();
                                var error_messages = "";
                                $.each(data.error, function (index, value) {
                                    rror_messages += value + "<br>";
                                });

                                $("#error_message").append(error_messages);
                                $("#error-dialog").modal('show');

                            }
                        });


                    } else {
                        file_upload.fileupload('send', {
                            files: filesList,
                            paramName: paramNames,

                        });
                    }


                }
            })
            ;


            $("#upload-form").bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'fas fa-check',
                    invalid: 'none',
                    validating: 'fas fa-sync-alt'
                },
                fields: {
                    task_id: {
                        message: 'The ID is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The ID is required and cannot be empty.'
                            },
                            stringLength: {
                                min: 4,
                                max: 4,
                                message: 'The iD must be 4 characters long.'
                            },
                            regexp: {
                                regexp: /^[0-2][0-9A]\d{2}$/,
                                message: 'ID is incorrect.'
                            },
                            callback: {
                                message: 'The part number can not be repreated.',
                                delay: 1000,
                                callback: function (value, validator, $field) {
                                    var task_id = $("input[name='task_id']").val();
                                    //if is interactive testCase disable some limit
                                    if (task_id.length == 4 && task_id[1] == "6") {
                                        close_input_condition(true)
                                    } else {
                                        close_input_condition(false)
                                    }
                                    return true
                                }
                            }
                        }
                    },
                    script_name: {
                        message: 'The script name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The script name cannot be empty.'
                            },
                            regexp: {
                                regexp: /^[\w|_]+\.\w+$/,
                                message: 'The script name must contains extensions.'
                            }

                        }
                    },
                    task_name: {
                        message: 'The task name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The task name is required and cannot be empty.'
                            },
                            regexp: {
                                regexp:  /^[\w|\.|_|\s]+$/,
                                message: 'The task name is incorrect.'
                            },
                            remote: {
                                message: 'Your TestCase Name cannot be repeated.',
                                url: '/testCase/vil_cre_name/',
                                delay: 1000
                            }
                        }
                    },
                    file: {
                        validators: {
                            notEmpty: {
                                message: 'The zip file is required and cannot be empty.'
                            },
                            file: {
                                extension: 'zip',
                                type: 'application/zip',
                                message: 'The selected file is not valid'
                            }
                        }
                    },
                    argument: {
                        message: 'The argument is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The argument cannot be empty.'
                            },
                            regexp: {
                                regexp: /^\w+$/,
                                message: 'The argument is incorrect.'
                            },

                            callback: {
                                callback: function (value, validator, $field) {
                                    var arg_array = [];
                                    $("input[name='argument']").each(function () {
                                        arg_value = $(this).val();
                                        arg_array.push(arg_value);
                                    });
                                    var deplicate_count = 0;
                                    for (var i = 0; i < arg_array.length; i++) {
                                        deplicate_count += (arg_array[i] == value);
                                    }

                                    if (deplicate_count > 1) {
                                        return {
                                            valid: false,
                                            message: 'The argument can not be repreated.'
                                        }
                                    } else {
                                        return {
                                            valid: true,
                                        }
                                    }

                                }
                            }

                        }
                    },
                    default_value: {
                        message: 'The default value is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The default value cannot be empty.'
                            },
                            regexp: {
                                regexp: /^[\w|"|\\|\\\\/|\.|\-|\s|\u4e00-\u9fa5|=|&|:|;|\*|,|\(|\)]+$/,
                                message: 'The default value is incorrect.'
                            }
                        }
                    },
                }
            })
                .on('error.field.bv', function (e, data) {
                    $("#upload_btn").attr('disabled', 'disabled');
                })
                .on('success.field.bv', function (e, data) {
                    $("#upload_btn").removeAttr('disabled');
                });


            var new_row = '<tr>' +
                '<td> <div class="form-group"><input type="text" name="argument" class="form-control" maxlength="255" required="" id="id_argument"><div class="help-block with-errors"></div></div></td>' +
                '<td> <div class="form-group"><input type="text" name="default_value" class="form-control" maxlength="255" required="" id="id_default_value"><div class="help-block with-errors"></div></div></td>' +
                '<td> <div class="form-group"><input type="text" name="arg_description" class="form-control" maxlength="255" required="" id="id_description"><div class="help-block with-errors"></div></div></td>' +
                '</tr>';

            var max_fields = 19;
            var rowCount = 0;


            $("#add_argument").click(function () {

                if (rowCount < max_fields) {
                    $("#task-table tbody").append(new_row);
                    var lastRow = $("#task-table tbody tr").last();

                    lastRow.find('input').each(function () {
                        $('#upload-form').bootstrapValidator('addField', $(this));
                    });

                    rowCount += 1;
                    $("#upload_btn").attr('disabled', 'disabled');
                } else {
                    alert("Max argument is 20!")
                }
            });

            $("#remove_argument").click(function (e) {
                var lastRow = $("#task-table tbody tr").last();
                {# orginal argument colume cant be remove#}
                if ($("#task-table  tbody tr").length > 1) {

                    if (lastRow.closest("tr").find('input[name="argument"]').val() != "") {
                        if (confirm("Are you sure to remove this row?")) {

                            lastRow.find('input').each(function () {
                                $('#upload-form').bootstrapValidator('removeField', $(this));
                            });

                            lastRow.remove();
                            rowCount -= 1;
                            $("#upload_btn").removeAttr('disabled');
                        }
                    } else {
                        lastRow.find('input').each(function () {
                            $('#upload-form').bootstrapValidator('removeField', $(this));
                        });
                        lastRow.remove();
                        rowCount -= 1;
                        $("#upload_btn").removeAttr('disabled');
                    }
                } else {
                    alert("Your must provide one argument!")
                }
            });


        })
        ;


    </script>
{% endblock %}


{% block body %}


    <h3>Create TestCase</h3>

    <div id="message"></div>
    <br>

    <div class="modal fade" id="modal-progress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Uploading...</h4>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="test">
                    <span aria-hidden="true">&times;</span>
                </button>


                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form enctype="multipart/form-data" method="post"
          id="upload-form">{% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-sm-4 col-form-label form-control-label">ID</label>
                    <div class="col-sm-8">
                        {{ u.task_id }}
                    </div>

                </div>

            </div>


            <div class="col-md-7">
                <div class="form-group">
                    <label for="test_case_name" class="col-sm-3 col-form-label form-control-label">TestCase Name</label>
                    <div class="col-sm-9">
                        {{ u.task_name }}
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group  hide-group">
                    <label for="script" class="col-sm-4 col-form-label form-control-label">Script Name</label>
                    <div class="col-sm-8">{{ u.script_name }}
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group hide-group">
                    <label for="sample" class="col-sm-3 col-form-label form-control-label">Sample</label>
                    <div class="col-sm-9"> {{ u.sample }}
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col">
                <label for="descript" class="form-control-label">TestCase Description</label>{{ u.description }}
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class=input-group>
                    <label style="padding-top: 1%" class="form-control-label"> Attachment&emsp;</label>
                    <div class="custom-file">
                        {{ u.attachment }}
                        <label class="custom-file-label" for="attachment_file">Please Upload attachment</label>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="input-group hide-group">
                    <label style="padding-top: 1%" class="form-control-label"> TestCase Zip&emsp;</label>
                    <div class="custom-file">
                        {{ u.file }}
                        <label class="custom-file-label" for="attachment_file">Please Upload zip file</label>
                    </div>
                </div>
            </div>


        </div>

        <br>

        <div class="text-right">

            <button class="btn btn btn-outline-success  hide-group" type="button" id="add_argument">
                New
            </button>

            <button class="btn btn btn-outline-danger  hide-group" type="button" id="remove_argument">
                Delete
            </button>


        </div>


        <table class="table table-bordered  hide-group" id="task-table">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">Argument</th>
                <th scope="col" style="width: 20%;text-align: center">Default Value</th>
                <th scope="col" style="width: 60%;text-align: center">Description</th>

            </tr>
            </thead>
            <tbody>
            <tr>

                <td>
                    <div class="form-group">{{ a.argument }}

                    </div>
                </td>
                <td>
                    <div class="form-group">{{ a.default_value }}

                    </div>
                </td>
                <td>
                    <div class="form-group">{{ a.arg_description }}

                    </div>
                </td>
            </tr>


            </tbody>
        </table>


        <br>

        <div class="text-center">
            <button class="btn btn-outline-primary" type="button" id="upload_btn"><i class="fas fa-share"></i> Submit
            </button>

        </div>


    </form>


{% endblock %}