{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {

            if ($('tbody').find('tr').length == 0) {
                $("table").append('<tr><td colspan="4" class="text-center"> Don\'t have any release AIT version</td></tr>')
                $("#download_jar").attr("disabled", true)
            }


            $("#download_jar").click(function () {
                location.href = "{% url "ait_download_file" %}"
            });


            $('.btn-edit').click(function () {
                var tr = $(this).closest("tr");
                version = tr.find('td.version').text();
                location.href = "/ait/update/" + version
            });


            $('.btn-delete').click(function () {
                var tr = $(this).closest("tr");
                version = tr.find('td.version').text();


                if (confirm("Are you sure to delete this version?")) {
                    tr.remove();


                    $.ajax({
                        url: "/ait/delete_version/", // the endpoint,commonly same url
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: getCookie("csrftoken"),
                            "version": version,
                        },
                        success: function (json) {
                            tr.remove();

                            row_count = $('tbody').find('tr').length;
                            if (row_count == 0) {
                                $("table").append('<tr> <td colspan="4" class="text-center"> Don\'t have any release AIT version</td></tr>')
                                $("#download_jar").attr("disabled", true)
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            console.log("part number not in database");
                        }
                    });
                }

            })

        })

    </script>

{% endblock %}


{% block body %}


    <div class="row" style="margin-bottom: 2%">
        <div class="col-sm">

        </div>
        <div class="col-sm text-center">
            <h3> Download AIT Jar</h3>
        </div>
        <div class="col-sm">
            <div class="text-right">
                <button id="download_jar" type="button" class="btn btn-success"><i class="fas fa-download"></i>
                    Download
                </button>
            </div>
        </div>
    </div>




    <table class="table table-striped">
        <thead style="font-weight: bold;">
        <tr>
            <td>
                Version
            </td>
            <td>
                Release data
            </td>
            <td>Release notes</td>
            {% if request.user.is_staff %}
                <td class="text-center">Action</td>
            {% endif %}

        </tr>
        </thead>


        <tbody>
        {% for data in datas %}
            <tr>
                <td class="version">{{ data.version }}</td>
                <td>{{ data.time |date:'Y M d' }}</td>
                <td><a href="/ait/release/{{ data.version }}">Announcement</a></td>
                {% if request.user.is_staff %}
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary btn-edit">
                                <i class="fas fa-edit"></i> Edit
                            </button>

                            <button type="button" class="btn btn-outline-danger btn-delete">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </div>
                    </td>
                {% endif %}
            </tr>

        {% endfor %}


        </tbody>

    </table>
{% endblock %}