{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/jquery.dataTables.min.css" %}">

    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">

    <script src={% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}></script>


    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/select.dataTables.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/datatables.net-dt/css/query.dataTables.min.css" %}">


    <script src={% static "bower_components/datatables.net/js/dataTables.select.min.js" %}></script>

    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
{% endblock %}



{% block css %}
    <style>
        #conditiontd td {
            text-align: center;
        }

        {#hide the search colume#}
        .dataTables_filter, .dataTables_info {
            display: none;
        }

        .condition-lable {
            margin-right: 20px;
        }

        .container {
            max-width: 80%;
        }


    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $(function () {
            $(".platform").each(function () {
                var row = $(this).parent('tr');
                taskID = row.attr("id");

                platform_id = taskID.slice(0, 1);

                if (platform_id == "0") {
                    $(this).append("<i class=\"fab fa-windows  fa-fw\"></i><span>Windows</span>")
                } else if (platform_id == "1") {
                    $(this).append("<i class=\"fab fa-apple  fa-fw\"></i><span>Mac OS</span>")
                } else {
                    $(this).append("<i class=\"fas fa-laptop fa-fw\"></i><span>All</span>")
                }

            })
        });


        //handle the datatable button actions
        $(function () {

            $('#task-table tbody .dt-delete').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var dtRow = $this.parents('tr');

                    if (confirm("Are you sure to delete this row?")) {

                        taskID = dtRow.attr("id");


                        $.ajax({
                            url: "/testCase/delete/" + taskID, // the endpoint,commonly same url
                            type: 'DELETE',
                            data: {
                                csrfmiddlewaretoken: getCookie('csrftoken'),
                            },

                            success: function (json) {
                                var table = $('#task-table').DataTable();
                                table.row(dtRow).remove().draw(false);// another sanity check
                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log("delete failed", xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });


                    }
                });

            });


            $('#task-table tbody .dt-edit').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    taskID = editRow.attr("id");

                    location.href = "/testCase/modify/" + taskID;
                });
            });


            $('#task-table tbody .dt-attach').each(function () {

                $(this).on('click', function (evt) {
                    $this = $(this);
                    var editRow = $this.parents('tr');
                    taskID = editRow.attr("id");

                    location.href = "/testCase/attach_download/" + taskID;
                });
            });

        });


        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var $chkbox_all = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if ($chkbox_checked.length === 0) {
                chkbox_select_all.checked = false;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length) {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = true;
                }
            }
        }


        $(document).ready(function () {



                //global array ,it save selected task id
                var rows_selected = [];


                $("#myForm").on("submit", function (e) {

                    if (rows_selected.length <= 0) {
                        alert("You must select at least one test case.");
                        e.preventDefault();
                        return false;
                    }


                    {% if is_modify %}
                        $(this).append('<input name="add_task_ids"  type="hidden" value=' + rows_selected + '>');

                    {% else %}
                        $(this).append('<input name="task_ids"  type="hidden" value=' + rows_selected + '>');

                    {% endif %}

                });


                //data tables parameter
                var table = $('#task-table').DataTable({
                    "dom": '<"top"i>rt<"bottom"flp><"clear">',
                    "autoWidth": true,
                    "scrollX": true,

                    {% if datas.count <= 10 %}
                        "bPaginate": false,
                    {% endif %}
                    columnDefs: [{
                        'targets': 0,
                        'searchable': false,
                        'orderable': false,
                        'width': '1%',
                        'className': 'dt-body-center',
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox">';
                        }
                    }, {
                        "width": "10%",
                        "targets": 1,
                    },
                        {
                            "width": "15%",
                            "targets": 3,
                        },

                        {
                            "width": "15%",
                            "targets": 5,
                        },

                        {
                            "width": "10%",
                            "targets": 6,
                        }


                    ],
                    'rowCallback': function (row, data, dataIndex) {
                        // Get row ID
                        var taskID = data[1];

                        // If row ID is in the list of selected row IDs
                        if ($.inArray(taskID, rows_selected) !== -1) {
                            $(row).find('input[type="checkbox"]').prop('checked', true);
                            $(row).addClass('selected');
                        }
                    },
                    order: [[2, 'asc']],

                });


                //clean datable filter
                $("#clean").click(function () {
                    var control = $("#interface");
                    control.selectpicker('val', valuesOf(control.find('option')));
                    allOptionIsSelected = true;
                    control.data('allOptionIsSelected', allOptionIsSelected);


                    $("#platform").val('All');
                    $("#platform").selectpicker("refresh");


                    $('#task-table').DataTable().column(2).search("", true,).draw();


                });


                function valuesOf(elements) {
                    return $.map(elements, function (element) {
                        return element.value;
                    });
                }


                //handle interface selected ,the all select item
                function toggleSelectAll(control) {
                    var allOptionIsSelected = (control.val() || []).indexOf("All") > -1;


                    if (control.data('allOptionIsSelected') != allOptionIsSelected) {
                        // User clicked 'All' option
                        if (allOptionIsSelected) {
                            // Can't use .selectpicker('selectAll') because multiple "change" events will be triggered
                            control.selectpicker('val', valuesOf(control.find('option')));
                        } else {
                            control.selectpicker('val', []);
                        }
                    } else {
                        // User clicked other option
                        if (allOptionIsSelected && control.val().length != control.find('option').length) {
                            // All options were selected, user deselected one option
                            // => unselect 'All' option
                            control.selectpicker('val', valuesOf(control.find('option:selected[value!=All]')));
                            allOptionIsSelected = false;
                        } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
                            // Not all options were selected, user selected all options except 'All' option
                            // => select 'All' option too
                            control.selectpicker('val', valuesOf(control.find('option')));
                            allOptionIsSelected = true;
                        }
                    }
                    control.data('allOptionIsSelected', allOptionIsSelected);
                }


                $('#interface').selectpicker().change(function () {
                    toggleSelectAll($(this));
                }).trigger('change');


                //datable filter with regex
                $(".condition-select").change(function () {
                        var r1 = $('#platform :selected').val();

                        if (!r1 || r1 == "All") {
                            r1 = "."
                        }

                        var selected = [];
                        var brands = $('#interface option:selected');
                        $(brands).each(function (index, brand) {
                            selected.push($(this).val());
                        });

                        if (selected.length === 0) {

                            r2 = "."
                        } else {

                            if (selected.includes('All')) {


                                r2 = "."
                            } else {
                                r2 = "[" + selected.join("|") + "]"
                            }

                        }
                        console.log("^" + r1 + "{1}" + r2 + "{1}");
                        $('#task-table').DataTable().column(2).search("^" + r1 + "{1}" + r2 + "{1}", true,).draw();
                    }
                );

                // handle click on checkbox
                $('#task-table tbody').on('click', 'input[type="checkbox"]', function (e) {


                    var $row = $(this).closest('tr');

                    // Get row data
                    var data = table.row($row).data();

                    // Get task ID
                    var taskID = data[2];


                    // Determine whether row ID is in the list of selected row IDs
                    var index = $.inArray(taskID, rows_selected);

                    // If checkbox is checked and row ID is not in list of selected row IDs
                    if (this.checked && index === -1) {
                        rows_selected.push(taskID);

                        // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                    } else if (!this.checked && index !== -1) {
                        rows_selected.splice(index, 1);
                    }

                    if (this.checked) {
                        $row.addClass('selected');
                    } else {
                        $row.removeClass('selected');
                    }

                    // Update state of "Select all" control
                    updateDataTableSelectAllCtrl(table);

                    // Prevent click event from propagating to parent
                    e.stopPropagation();
                });

                // handle click on table cells with checkboxes
                $('#task-table').on('click', 'tbody td, thead th:first-child', function (e) {
                    $(this).parent().find('input[type="checkbox"]').trigger('click');
                });

                // handle click on "Select all" control
                $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                    if (this.checked) {
                        $('#task-table tbody input[type="checkbox"]:not(:checked)').trigger('click');
                    } else {
                        $('#task-table tbody input[type="checkbox"]:checked').trigger('click');
                    }

                    // Prevent click event from propagating to parent
                    e.stopPropagation();
                });

                // handle table draw event
                table.on('draw', function () {
                    // Update state of "Select all" control
                    updateDataTableSelectAllCtrl(table);
                });


            }
        );
    </script>
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="platform" class="condition-lable">Platform:</label>
                    <select class="condition-select form-control selectpicker  show-tick"
                            id="platform"
                            title="All">
                        <option value="All" selected="selected">All</option>
                        <option value="0">Windows</option>
                        <option value="1">Mac</option>
                        <option value="2">Windows/Mac</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="col">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="interface" class="condition-lable">Interface:</label>
                    <select id="interface" class="selectpicker condition-select" multiple
                            data-selected-text-format="count>2">
                        <option value="All" selected="selected">All</option>
                        <option value="0" class="other">USB</option>
                        <option value="1" class="other">Type-C</option>
                        <option value="2" class="other">TBT</option>
                        <option value="3" class="other">HDMI</option>
                        <option value="4" class="other">Display</option>
                        <option value="5" class="other">ETH</option>
                        <option value="6" class="other">INTERACTIVE</option>
                        <option value="7" class="other">Audio</option>
                        <option value="8" class="other">IC</option>
                        <option value="9" class="other">PD</option>
                    </select>
                </div>
            </form>
        </div>


        <div class="col">
            <div class="text-right">

                <button id="clean" type="button" class="btn btn-outline-success"><i class="fas fa-redo"></i> Clean
                    Filter
                </button>

                {% if is_project %}
                    <button id="submit" type="submit" class="btn btn-outline-primary" form="myForm">Next <i
                            class="fas fa-forward"></i>
                    </button>
                {% endif %}
            </div>
        </div>

    </div>



    <form id="myForm" class="form-signin" method="POST">{% csrf_token %}


        <table id="task-table" class="hover" style="width:100%">
            <thead>
            <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Platform</th>
                <th>ID</th>
                <th>Task Case Name</th>
                <th>Description</th>
                <th>Modify Time</th>
                {% if is_script %}
                    <th style="text-align: center">Action</th>
                {% else %}
                    <th style="text-align: center">Attachment</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for data in  datas %}
                <tr id="{{ data.task_id }}">

                    <td></td>
                    <td class="platform" style="min-width:90px"></td>
                    <td>{{ data.task_id }}</td>
                    <td>{{ data.task_name }}</td>
                    <td>{{ data.description |linebreaks }}</td>
                    <td>{{ data.time|date:'Y-m-d h:i A' }}</td>
                    {% if is_script %}
                        <td>
                            {% if request.user.is_staff %}
                                <div class="text-center ">
                                    <div class="btn-group">

                                        <button type="button"
                                                class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                                            <i class="fas fa-edit"></i>
                                        </button>


                                        <button type="button"
                                                class="edit_btn btn btn-outline-danger btn-xs btn-md center-block dt-delete">
                                            <i class="fas fa-trash"></i></button>


                                        <button type="button"

                                                {% if data.task_id in no_att_tasks %}
                                                disabled  class="btn  btn-outline-secondary dt-attach"
                                                {% else %}
                                                class="btn  btn-outline-success dt-attach"
                                                {% endif %}><i
                                                class="fas fa-paperclip"></i></button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <div class="text-center btn-group">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-xs  btn-md center-block dt-edit">
                                            <i class="fas fa-edit"></i>
                                        </button>


                                        <button type="button"
                                                {% if data.task_id in no_att_tasks %}
                                                disabled  class="btn  btn-outline-secondary dt-attach"
                                                {% else %}
                                                class="btn  btn-outline-success dt-attach"
                                                {% endif %}><i
                                                class="fas fa-paperclip"></i></button>

                                    </div>
                                </div>
                            {% endif %}
                        </td>

                    {% else %}

                        <td>
                            <div class="text-center">

                                <button type="button" data-toggle="tooltip" data-placement="top"
                                        title="Download attachment"

                                        {% if data.task_id in no_att_tasks %}
                                        disabled  class="btn  btn-outline-secondary dt-attach"
                                        {% else %}
                                        class="btn  btn-outline-success dt-attach"
                                        {% endif %}><i
                                        class="fas fa-download"></i></button>
                            </div>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </form>


{% endblock %}