{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quanta Storage AIT</title>


    <link rel="icon" type="image/png" href="{% static "pic/qsi_icon.png" %}" sizes="96x96">

    <!--import css path-->
    <link rel="stylesheet" href="{% static "bower_components/semantic-ui-offline/semantic.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/components-font-awesome/css/fontawesome.min.css" %}">
    <link type="text/css" rel="stylesheet"
          href="{% static "bower_components/components-font-awesome/css/brands.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "bower_components/components-font-awesome/css/solid.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}">
    <!--import js path-->
    <script src="{% static "bower_components/jquery/dist/jquery.slim.min.js" %}"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src={% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}></script>
    <script src={% static "js/common.js" %}></script>


    <style>
        td {
            padding: 20px;
        }

        input[type=submit] {
            padding: 5px 15px;
            background: #ccc;
            border: 0 none;
            cursor: pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

    </style>


    <script>

        $(document).ajaxError(function (event, xhr, settings, thrownError) {
            if (xhr.status == 403) {
                if (xhr.responseJSON.detail == "Authentication credentials were not provided.") {
                    alert("Your login session has expired.Please login again.")
                    location.href = "{% url "login" %}"
                }
            }

        });
    </script>
    <!--extend css -->
    {% block css %}

    {% endblock %}
    <!--extend js -->
    {% block js %}{% endblock %}
    <!--extend js/css path-->
    {% block head %}{% endblock %}


</head>


<body>
{% if login_page == None %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "index" %}">
            <img type="image/png" src="{% static "pic/qsi_icon.png" %}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Quanta Storage AIT
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if login_page == None %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    {% if is_script %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "script_create" %}">Create TestScript</a>
                        </li>
                    {% endif %}


                    {% if is_project %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "project_create" %}">Create Project</a>
                        </li>
                    {% endif %}



                    {% if is_ait %}
                        {% if request.user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "ait_upload" %}">Upload AIT</a>
                            </li>
                        {% endif %}
                    {% endif %}


                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if is_script %}
                        <li><a class="nav-link" href="{% url "list_script" %}"><i class="fas fa-arrow-left"></i> Back to
                            List</a>
                        </li>
                    {% elif is_project %}
                        <li><a class="nav-link" href="{% url "list_project" %}"><i class="fas fa-arrow-left"></i> Back
                            to List</a>
                        </li>
                    {% elif is_ait %}
                        <li><a class="nav-link" href="{% url "ait_download" %}"><i class="fas fa-arrow-left"></i> Back
                            to List</a>
                        </li>
                    {% endif %}


                    <li><a class="nav-link" href="{% url "login" %}"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
                    <li><a class="nav-link" href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i>Log out</a>
                    </li>
                    <li class="navbar-text"><i class="fas fa-user"></i> {{ request.user.username }}</li>
                </ul>
            </div>
        {% endif %}
    </nav>
{% endif %}
<br>

<div class="container">

    <div id="message">
    </div>
    <div class="container">
        <div id="error-dialog" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">You Get Error!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="error_message" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block body %}Pleas extend body block {% endblock %}
</div>
</body>
</html>