{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QSI FactoryLine Web</title>

    <!--import css path-->
    <link type="text/css" rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">

    <!--import js path-->
    <script src="{% static "bower_components/jquery/src/jquery.js" %}"></script>
    <script src={% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}></script>
    <!--extend css -->
    {% block css %}{% endblock %}
    <!--extend js path-->
    {% block js %}{% endblock %}


</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Factory Line Web Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>