{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        img[name=icon] {
            width: 150px;
            height: 150px;

        }

        a img:hover {
            position: relative;
            top: -5px;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="row d-flex justify-content-center">

        <div class="col-md-4 brd col-md-offset-2">
            <table>
                <tr>
                    <td>
                        <a href="{% url "list_script" %}"><img name='icon' class="rounded"
                                                               src="{% static "pic/test_script.png" %}"></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        TestScript
                    </td>

                </tr>

            </table>

        </div>

        <div class="col-md-4 brd">
            <table>
                <tr>
                    <td>
                        <a href="{% url "list_project" %}"><img name='icon' class="rounded"
                                                                src="{% static "pic/project.png" %}"></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        Project
                    </td>
                </tr>
            </table>


        </div>


        <div class="col-md-4 brd">
            <table>
                <tr>
                    <td>
                        <a href="{% url "ait_download" %}"><img name='icon' class="rounded"
                                                                src="{% static "pic/download.png" %}"></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        AIT
                    </td>

                </tr>

            </table>
        </div>

    </div>
{% endblock %}