{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }
    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}


{% block head %}
     <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}


{% block body %}
    <h3>Modify TeseCase</h3>


    <form enctype="multipart/form-data" method="POST" action={% url "script_modify" %}>{% csrf_token %}

        ID：<input name="task_id" type="text" class="form-control" value={{ task_info.task_id }}  readonly="readonly">

        Script Name：<input name="script_name" type="text" class="form-control"
                           value={{ task_info.script_name }}  readonly="readonly">

        Exec Time：<input name="exec_time" type="text" class="form-control" value={{ task_info.exec_time }}>


        <label for="upload">Upload Zip file：</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="zn">
                <label class="custom-file-label" for="customFileLang">Only allow Zip file</label>
            </div>
        </div>



        {% for arg in args %}
            Argument [{{ arg.argument }}]：
            <input type="text" name="argument" class="form-control" data-toggle="tooltip" data-placement="left"
                   title="{{ arg.description }}">
        {% endfor %}

        <br>
        <input type="submit" class="btn btn-secondary" formmethod="post" value="Modify">
    </form>





    <form action="{% url "script_update" %}">
        <input type="submit" value="<- Back to Query"/>
    </form>
{% endblock %}