{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }
    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}


{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}


{% block body %}
    <h3>Modify TeseCase</h3>
    {% if u.errors %}
        {% for field in u %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form enctype="multipart/form-data" method="POST" action={% url "script_modify" %}>{% csrf_token %}

        ID：<input name="task_id" type="text" class="form-control" value={{ task_info.task_id }}  readonly="readonly">

        TestCase Name：<input name="task_name" type="text" class="form-control"
                             value={{ task_info.task_name }}  readonly="readonly">

        TestCase Description：<input name="description" type="text" class="form-control"
                                    value={{ task_info.description }}>

        Script Name：<input name="script_name" type="text" class="form-control" value={{ task_info.script_name }}>


        <label for="upload">Upload Zip file：</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="zn">
                <label class="custom-file-label" for="customFileLang">Only allow Zip file</label>
            </div>
        </div>



        {% for arg in args %}
            Argument [{{ arg.argument }}]：
            <input name="arg_{{ arg.argument }}" type="text" class="form-control" value={{ arg.argument }}>

            Argument [{{ arg.argument }}] Description：
            <input name="des_{{ arg.argument }}" type="text" class="form-control" value={{ arg.description }}>
        {% endfor %}

        <br>
        <input type="submit" class="btn btn-secondary" formmethod="post" value="Modify">
    </form>





    <form action="{% url "script_update" %}">
        <input type="submit" value="<- Back to Query"/>
    </form>
{% endblock %}