{% extends "base.html" %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

    </style>
{% endblock %}





{% block body %}
    <h3>Update Test Case</h3>

        {% if message %}
            <div class="alert alert-danger">
                <strong>{{ message }}</strong>
            </div>

        {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}



    <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <table>
            <tr>
                <label for="id">ID:</label> {{ form.task_id }}
            </tr>
            <tr>
                <label for="script_name">Script Name:</label> {{ form.script_name }}
            </tr>
        </table>
        <br>
        <input class="btn btn-secondary" type="submit" value="Query">
    </form>
{% endblock %}