{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}
{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }


    </style>
{% endblock %}


{% block js %}
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //display the upload file name
        $(function () {
            $('#zip_file').on('change', function () {

                var fileName = $(this).val();
                $(this).next('.custom-file-label').html(fileName);
            });


            $('#attachment_file').on('change', function () {
                var fileName = $(this).val();
                $(this).next('.custom-file-label').html(fileName);
            });
        });

        $(document).ready(function () {
            //if on modify page will show the file info
            {% if task_info.existed_attachment %}
                $("#attachment_file").next('.custom-file-label').html('<p class="text-dark">' + '{{ attach_name }}' + '</div>');
            {% endif %}

            var download_zip_name = {{ task_info.task_id }} +".zip "+" ({{ modify_time }})";
            $("#zip_file").next('.custom-file-label').html(download_zip_name);


            //auto close alert  after 4 seconds.
            $(".alert").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });

            {% if render_value %}
                $("input[name='task_id']").val('{{ task_info.task_id }}').attr("readonly", "readonly");
                $("input[name='task_name']").val('{{ task_info.task_name }}');
                $("textarea[name='task_description']").val('{{ task_info.description |escapejs }}');
                $("input[name='script_name']").val('{{ task_info.script_name }}');
                $("input[name='sample']").val('{{ task_info.sample |escapejs}}');
            {% else %}
                $("input[name='task_id']").val('{{ task_info.task_id }}').attr("readonly", "readonly");
            {% endif %}



            var new_row = '<tr>' +
                '<td> <input type="text" name="argument" class="form-control" maxlength="255" required="" id="id_argument"></td>' +
                '<td><input type="text" name="default_value" class="form-control" maxlength="255" required="" id="id_default_value"></td>' +
                '<td><input type="text" name="description" class="form-control" maxlength="255" required="" id="id_description"></td>' +
                '<td style="text-align: center">' +
                '<button type="button" class="btn btn-outline-secondary dt-delete" disabled><i class="fas fa-times" disabled></i>' +
                '</button></td> </tr>';


            var max_fields = 19;
            var rowCount = 0;


            //if post had error will restore those data
            {% if error_message or u.errors   %}
                {% if datas %}
                    var args = {{ datas|lookup:'argument'|safe }};
                    var values = {{ datas|lookup:'default_value'|safe }};
                    var descript = {{ datas|lookup:'description'|safe }};
                    var baseCount = $("#task-table tbody tr").length;
                    rowCount = args.length + baseCount;

                    for (i = 0; i < args.length; i++) {
                        $("#task-table tbody").append(new_row)
                    }

                    $("#task-table tbody tr").each(function () {
                        if ($(this).index() + 1 > baseCount) {
                            $(this).find("input[name='argument']").val(args[($(this).index()) - baseCount]);
                            $(this).find("input[name='default_value']").val(values[($(this).index()) - baseCount]);
                            $(this).find("input[name='description']").val(descript[($(this).index()) - baseCount]);
                        }
                    });
                {% endif %}
            {% else %}
                rowCount = $("#task-table tbody tr").length;
            {% endif %}

            $("#add_argument").click(function () {

                if (rowCount < max_fields) {
                    $("#task-table tbody").append(new_row);
                    rowCount += 1;
                }
                else {
                    alert("Max argument is 20!")
                }
            });

            $("#remove_argument").click(function (e) {
                var lastRow = $("#task-table tbody tr").last();
                {# orginal argument colume cant be remove#}
                if ($("#task-table  tbody tr").length > 1) {
                    if (lastRow.closest("tr").find('input[name="argument"]').val() != "") {
                        if (confirm("Are you sure to remove this row?")) {
                            lastRow.remove();
                            rowCount -= 1;
                        }
                    } else {
                        lastRow.remove();
                        rowCount -= 1;
                    }
                } else {
                    alert("Your must provide one argument!")
                }
            });


            var taskID = $("input[name=task_id]").val();


            //download uploaded TestCase file
            $("#download_script").click(function () {
                location.href = "/testCase/script_download/" + taskID;
            });


            $("#delete_attach").click(function () {

                var btnObj = $(this);
                if (confirm("Are you sure to delete attachment?")) {
                    var csrftoken = getCookie('csrftoken');

                    $.ajax({
                        url: "/testCase/delete_attach/",
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: csrftoken,
                            "task_id": taskID,
                        },

                        success: function (json) {
                            $("#attachment_file").next('.custom-file-label').html('<p class="text-muted">' + 'Please Upload attachment' + '</p>');
                             btnObj.closest("div.input-group-append").remove()
                        },

                        //處理失敗時會做的動作
                        error: function (xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });


                }
            });


            <!--delete specific argument-->
            $('#task-table tbody .dt-delete').each(function () {
                $(this).on('click', function (evt) {
                    var dtRow = $(this).parents('tr');
                    if (confirm("Are you sure to delete this row?")) {
                        var csrftoken = getCookie('csrftoken');
                        var argument = dtRow.find("input[name^='arg_']").val();
                        $.ajax({
                            url: "testCase/arg_delete/",
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                                "task_id": taskID,
                                "argument": argument
                            },

                            success: function (json) {
                                console.log(json); // another sanity check

                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });

                        dtRow.remove();
                    }
                });
            });


        })

    </script>
{% endblock %}


{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}


{% block body %}
    <h3>Modify TeseCase</h3>
    <br>
    {% if u.errors %}
        {% for field in u %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}




    {% if susessful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ susessful }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}



    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error_message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}


    <form enctype="multipart/form-data" method="POST">{% csrf_token %}

        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="id" class="col-sm-4 col-form-label">ID</label>
                    <div class="col-sm-8">
                        {{ u.task_id }}
                    </div>
                </div>

            </div>

            <div class="col-md-7">
                <div class="form-group row">
                    <label for="test_case_name" class="col-sm-3 col-form-label">TestCase Name</label>

                    <div class="col-sm-9">
                        {{ u.task_name }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">


                    <label for="script" class="col-sm-4 col-form-label">Script Name</label>

                    <div class="col-sm-8">{{ u.script_name }}</div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group row">
                    <label for="sample" class="col-sm-3 col-form-label">Sample

                    </label>
                    <div class="col-sm-9"> {{ u.sample }}</div>

                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col">
                <label for="descript">TestCase Description</label>{{ u.task_description }}
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                <label style="padding-top: 1%"> Attachment&emsp;</label>
                    <div class="custom-file">
                        {{ u.attachment }}
                        <label class="custom-file-label" for="attachment_file"><p class="text-muted">Please Upload
                            attachment</p></label>
                    </div>

                    {% if task_info.existed_attachment %}
                        <div class="input-group-append">
                            <button id="delete_attach" class="btn btn-outline-danger" type="button"><i class="fas fa-times"></i></button>
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="col-md-6">
                <div class="input-group">
                   <label style="padding-top: 1%">TestScript Zip&emsp;</label>
                    <div class="custom-file">
                        {{ u.file }}
                        <label class="custom-file-label" for="zip_file"><p class="text-muted">Please Upload TestScript
                            zip file</p></label>
                    </div>

                    <div class="input-group-append">
                        <button id="download_script" class="btn btn-outline-success" type="button" data-toggle="tooltip"
                                data-placement="top"
                                title="Downolad the testScript zip"><i class="fas fa-download"></i></button>
                    </div>
                </div>
            </div>

        </div>


        <br>

        <div class="text-right">

            <button class="btn btn btn-outline-success" type="button" id="add_argument">
                New
            </button>

            <button class="btn btn btn-outline-danger" type="button" id="remove_argument">
                Delete
            </button>


        </div>
        <table class="table table-bordered" id="task-table">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">Argument</th>
                <th scope="col" style="width: 20%">Default Value</th>
                <th scope="col" style="width: 50%">Description</th>
                <th style="width: 10%;text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for arg in args %}
                <tr>
                    <td><input name="arg_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.argument }}"></td>

                    <td>
                        <input name="value_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.default_value }}">

                    </td>
                    <td><input name="des_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.description }}">
                    </td>
                    <td style="text-align: center">
                        <button type="button" class="btn btn-outline-danger dt-delete"><i class="fas fa-times"></i>
                        </button>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div id="new_argument">

        </div>


        <br>


        <div class="text-center">
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-save"></i> Save</button>
        </div>


    </form>

    {#    <form action="{% url "script_update" %}">#}
    {#        <button class="btn btn-secondary" type="submit"><i class="fas fa-undo"></i> Back to Query</button>#}
    {#    </form>#}
{% endblock %}