{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

        .tooltip-inner {
            text-align: left;
        }


    </style>
{% endblock %}


{% block js %}
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        {#display the upload file name#}
        $(function () {
            $('#customFileLang').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });
        });

        $(document).ready(function () {

            {% if render_value %}
                $("input[name='task_id']").val('{{ task_info.task_id }}').attr("readonly", "readonly");
                $("input[name='task_name']").val('{{ task_info.task_name }}');
                $("textarea[name='task_description']").val('{{ task_info.description }}');
                $("input[name='script_name']").val('{{ task_info.script_name }}');
                $("input[name='sample']").val('{{ task_info.sample }}');
            {% else %}
                $("input[name='task_id']").val('{{ task_info.task_id }}').attr("readonly", "readonly");
            {% endif %}






            var max_fields = 19;
            var rowCount = $("#argument_info input[name='argument']").length;


            $("#add_argument").click(function () {

                var info = '<label for=\"argument\">Argument：</label> {{ a.argument }}<label for="default_value">Default Value：</label>{{ a.default_value }}<label for="description">Description：</label>{{ a.description }}';
                if (rowCount < max_fields) {
                    $("#new_argument").append(info);
                    $("#new_argument").css({
                        "border": "1px solid #9d9d9d",
                        "border-radius": "4px",
                        "padding": "10px"
                    });
                    rowCount += 1;

                }
                else {
                    alert("Max argument is 20!")
                }
            });

            $("#remove_argument").click(function (e) {
                var removelines = {{ a.fields |length}};

                for (var i = 0; i < removelines; i++) {
                    $("#new_argument input").last().remove();
                    $("#new_argument label").last().remove();
                }

                rowCount -= 1;
                {# orginal argument colume cant be remove#}
                if (rowCount <= 1) {
                    $("#new_argument").css({"border": "", "border-radius": "", "padding": ""});
                }

            });


            <!--delete specific argument-->
            var taskID = $("input[name=task_id]").val();
            $('#task-table tbody .dt-delete').each(function () {
                $(this).on('click', function (evt) {
                    var dtRow = $(this).parents('tr');
                    if (confirm("Are you sure to delete this row?")) {
                        var csrftoken = getCookie('csrftoken');
                        var argument = dtRow.find("input[name^='arg_']").val();
                        $.ajax({
                            url: "testCase/arg_delete/",
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                                "task_id": taskID,
                                "argument": argument
                            },

                            success: function (json) {
                                console.log(json); // another sanity check

                            },

                            //處理失敗時會做的動作
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });

                        dtRow.remove();
                    }
                });
            });


        })

    </script>
{% endblock %}


{% block head %}
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}


{% block body %}
    <h3>Modify TeseCase</h3>
    {% if u.errors %}
        {% for field in u %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}




    {% if susessful %}
        <div class="alert alert-success">
            <strong> {{ susessful }}</strong>
        </div>
    {% endif %}



    {% if error_message %}
        <div class="alert alert-danger">
            <strong> {{ error_message }}</strong>
        </div>
    {% endif %}


    <form enctype="multipart/form-data" method="POST">{% csrf_token %}

        <label for="id">ID：</label>{{ u.task_id }}
        <label for="test_case_name">TestCase Name：</label>{{ u.task_name }}
        <label for="descript">TestCase Description：</label>{{ u.task_description }}
        <label for="script">Script Name：</label>{{ u.script_name }}
        <label for="sample">Sample：</label>{{ u.sample }}
        <label for="upload">Upload Zip file：</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="zn">
                <label class="custom-file-label" for="customFileLang">Only allow Zip file</label>
            </div>
        </div>

        <br>


        <table class="table table-bordered" id="task-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 20%">Argument</th>
                <th scope="col" style="width: 20%">Default Value</th>
                <th scope="col" style="width: 50%">Description</th>
                <th style="width: 10%">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for arg in args %}
                <tr>
                    <td><input name="arg_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.argument }}"></td>

                    <td>
                        <input name="value_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.default_value }}">

                    </td>
                    <td><input name="des_{{ arg.argument }}" type="text" class="form-control"
                               value="{{ arg.description }}">
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs dt-delete">Delete
                        </button>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>


        <br>
        <button class="btn btn-success" type="button" id="add_argument"><i class="fas fa-plus"></i> Add</button>
        <button class="btn btn-danger" type="button" id="remove_argument"><i class="fas fa-minus"></i> Remove</button>

        <div id="new_argument">

        </div>


        <br>
        <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i> Modify</button>

    </form>

    {#    <form action="{% url "script_update" %}">#}
    {#        <button class="btn btn-secondary" type="submit"><i class="fas fa-undo"></i> Back to Query</button>#}
    {#    </form>#}
{% endblock %}