{% extends "base.html" %}

{% block css %}
    <style>
        h3 {
            text-align: center;
        }

    </style>
{% endblock %}




{% block body %}
    <h3>Update Test Case</h3>



    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}



    <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        <table>
            <tr>
                <label for="id">ID：</label> {{ form.task_id }}
            </tr>
            <tr>
                <label for="task_name=">Test Case Name：</label> {{ form.task_name }}
            </tr>
        </table>
        <br>
        <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i> Query</button>
    </form>
{% endblock %}